In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OrdinalEncoder

from sklearn.model_selection import train_test_split


import folium
import plotly.express as px

from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import AdaBoostClassifier
import xgboost as xgb
from sklearn.linear_model import LinearRegression

import time

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import PCA

import scipy as sp

import os

In [2]:
PATH_FOLDER = os.path.join(os.getcwd(), "")

In [3]:
df=pd.read_csv("feature_eng_data.csv")

In [4]:
df.set_index('Index', inplace=True)

In [5]:
df['pk_partition'] = pd.to_datetime(df['pk_partition'])

In [6]:
df

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,em_acount,country_id,region_code,gender,age,deceased,salary,Financiacion,Ahorro,Cuentas
Index,,,,,,,,,,,,,,,,,,,,,
0,1375586,2018-01-28,2018-01-12,KHL,1.0,2,0,0,0,0,...,1,0,29.0,0,35,0,87218.10,0,0,1
1,1050611,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,1,0,13.0,1,23,0,35548.74,0,0,1
2,1050612,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,1,0,13.0,1,23,0,122179.11,0,0,1
3,1050613,2018-01-28,2015-08-10,KHD,0.0,3,1,0,0,0,...,0,0,50.0,0,22,0,119775.54,0,1,0
4,1050614,2018-01-28,2015-08-10,KHE,1.0,3,0,0,0,0,...,1,0,50.0,1,23,0,96796.23,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,50.0,1,22,0,43912.17,0,0,1
5962920,1166764,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,26.0,1,23,0,23334.99,0,0,1
5962921,1166763,2019-05-28,2016-08-14,KHE,1.0,2,0,0,0,0,...,1,0,50.0,0,47,0,96796.23,0,0,1
5962922,1166789,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,50.0,0,22,0,199592.82,0,0,1
5962923,1550586,2019-05-28,2019-05-13,KHE,1.0,3,0,0,0,0,...,1,0,28.0,0,37,0,126765.57,0,0,1

In [7]:
df['diff_productos'] = df.groupby('pk_cid')['Cuentas'].diff()

In [8]:
df['diff_productos']

Index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
5962919    0.0
5962920    0.0
5962921    0.0
5962922    0.0
5962923    NaN
Name: diff_productos, Length: 5936633, dtype: float64

In [9]:
df['compra'] = (df['diff_productos'] >= 1).astype(int)

In [10]:
df['compra'].value_counts()

compra
0    5851186
1      85447
Name: count, dtype: int64

In [11]:
#Comprobamos con un pk_cid que sabemso que tiene mas de un producto y vemos que detecta las compras correctamente

df[df['pk_cid'] == 16502]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,region_code,gender,age,deceased,salary,Financiacion,Ahorro,Cuentas,diff_productos,compra
Index,,,,,,,,,,,,,,,,,,,,,
2171490,16502,2018-09-28,2018-09-30,KHE,0.0,3,0,0,0,0,...,28.0,0,57,0,126765.57,0,0,0,NaN,0
2943633,16502,2018-10-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,1,1.0,1
2962972,16502,2018-11-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,1,0.0,0
3628237,16502,2018-12-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,1,0.0,0
4028330,16502,2019-01-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,1.0,1
4480638,16502,2019-02-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0
4876038,16502,2019-03-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0
5134320,16502,2019-04-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0
5523395,16502,2019-05-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0

In [12]:
#Llenamos los NaN del primer mes con '0' ya que no tenemos con que comparar

In [13]:
df['diff_productos'].fillna(value=0, inplace=True)

In [14]:
#Por tanto 'compra' sera nuestro target para la predisposicion de compra de los productos "CUENTAS"

In [15]:
df['entry_date'] = pd.to_datetime(df['entry_date'])
df['pk_partition'] = pd.to_datetime(df['pk_partition'])

In [16]:
df['Antiguedad'] = (df['pk_partition'] - df['entry_date']) / pd.Timedelta(days=30)

In [17]:
df['Antiguedad'] = df['Antiguedad'].round().astype(int)

In [18]:
df['mes'] = df['pk_partition'].dt.to_period('M')

In [19]:
serie_temporal = df.groupby('mes')['compra'].sum()

In [20]:
serie_temporal

mes
2018-01       0
2018-02    3592
2018-03    3592
2018-04    3168
2018-05    3580
2018-06    3946
2018-07    3955
2018-08    6215
2018-09    5386
2018-10    7016
2018-11    6404
2018-12    6779
2019-01    5351
2019-02    7659
2019-03    6039
2019-04    6031
2019-05    6734
Freq: M, Name: compra, dtype: int32

In [21]:
serie_temporal = serie_temporal.drop(serie_temporal.index[0])

In [22]:
#Intentaremos predecir cuantos productos de CUENTAS venderemos el mes siguiente (JUNIO DE 2019)

df_regresion = serie_temporal.reset_index()
df_regresion['mes'] = df_regresion['mes'].astype(str)  # Convertimos el periodo a string para la regresión lineal

# Dividimos los datos en características (X) y la variable objetivo (y)
X = pd.to_numeric(df_regresion['mes'].str.replace('-', ''), errors='coerce').values.reshape(-1, 1)  # Convertimos el periodo a un formato numérico para la regresión lineal
y = df_regresion['compra'].values

# Entrenamos el modelo de regresión lineal
modelo = LinearRegression()
modelo.fit(X, y)

# Predecimos las compras del mes 06 del año 2019
mes_06_2019 = pd.to_numeric('2019-06'.replace('-', ''), errors='coerce').reshape(-1, 1)  # Convertimos el periodo a un formato numérico para la predicción
prediccion_mes_06_2019 = modelo.predict(mes_06_2019)

print("Predicción de compras para el mes 06 del año 2019:", prediccion_mes_06_2019[0])

Predicción de compras para el mes 06 del año 2019: 6504.497877358459

In [23]:
#Predicción de beneficios

Beneficios = prediccion_mes_06_2019[0]*10
Beneficios

#Beneficios estimados para JUNIO 2019 de cproductos de CUENTAS = 65.044 €

65044.97877358459

### Predicción de acierto del modelo

In [24]:
df

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,age,deceased,salary,Financiacion,Ahorro,Cuentas,diff_productos,compra,Antiguedad,mes
Index,,,,,,,,,,,,,,,,,,,,,
0,1375586,2018-01-28,2018-01-12,KHL,1.0,2,0,0,0,0,...,35,0,87218.10,0,0,1,0.0,0,1,2018-01
1,1050611,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,23,0,35548.74,0,0,1,0.0,0,30,2018-01
2,1050612,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,23,0,122179.11,0,0,1,0.0,0,30,2018-01
3,1050613,2018-01-28,2015-08-10,KHD,0.0,3,1,0,0,0,...,22,0,119775.54,0,1,0,0.0,0,30,2018-01
4,1050614,2018-01-28,2015-08-10,KHE,1.0,3,0,0,0,0,...,23,0,96796.23,0,0,1,0.0,0,30,2018-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,22,0,43912.17,0,0,1,0.0,0,34,2019-05
5962920,1166764,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,23,0,23334.99,0,0,1,0.0,0,34,2019-05
5962921,1166763,2019-05-28,2016-08-14,KHE,1.0,2,0,0,0,0,...,47,0,96796.23,0,0,1,0.0,0,34,2019-05
5962922,1166789,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,22,0,199592.82,0,0,1,0.0,0,34,2019-05
5962923,1550586,2019-05-28,2019-05-13,KHE,1.0,3,0,0,0,0,...,37,0,126765.57,0,0,1,0.0,0,0,2019-05

In [25]:
df = df.drop(['entry_date','deceased','diff_productos'], axis=1)

In [26]:
df= pd.get_dummies(df, columns=['entry_channel'], drop_first=True)

In [27]:
#Generamos una copia para despues en el recomendador

df_rc2 = df.copy()

In [28]:
df = df.drop(['pk_cid','pk_partition'], axis = 1)

In [29]:
X = df.drop('compra', axis=1)  # Features
y = df['compra']  # Target

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
print("Tamaño del conjunto de entrenamiento (X):", X_train.shape)
print("Tamaño del conjunto de prueba (X):", X_test.shape)
print("Tamaño del conjunto de entrenamiento (y):", y_train.shape)
print("Tamaño del conjunto de prueba (y):", y_test.shape)

Tamaño del conjunto de entrenamiento (X): (4749306, 39)
Tamaño del conjunto de prueba (X): (1187327, 39)
Tamaño del conjunto de entrenamiento (y): (4749306,)
Tamaño del conjunto de prueba (y): (1187327,)

In [32]:
def AUC(model, X, y):
    return roc_auc_score(y, model.predict_proba(X)[:, 1])

def cross_validation(model, X, y):
    Kfold_metric = cross_val_score(model, X, y, cv=4, scoring='roc_auc')
    return Kfold_metric.mean()

In [33]:
label_ = []
metric_train_ = []
metric_valida_ = []

In [34]:
def evaluate_model(label, model, X, y):
 model.fit(X,y)
 metric_train = AUC(model,X,y)
 metric_valida = cross_validation(model,X,y)
 
 label_.append(label)
 metric_train_.append(metric_train)
 metric_valida_.append(metric_valida)
 return pd.DataFrame({'Model': label_,
                'AUC Train': metric_train_,
                'AUC Cross-Valida': metric_valida_
                }).sort_values('AUC Cross-Valida')

In [35]:
#evaluate_model(label='XGBoost', 
# model = xgb.XGBClassifier(), 
# X=X_train, y=y_train)

### Recomendador

In [36]:
df_rc=pd.read_csv("clusters_v2.csv",index_col=0)

In [37]:
df_rc2 = df_rc2[df_rc2["pk_partition"] == "2019-05-28"]

In [38]:
df_rc2

,pk_cid,pk_partition,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,...,entry_channel_KHD,entry_channel_KHE,entry_channel_KHF,entry_channel_KHK,entry_channel_KHL,entry_channel_KHM,entry_channel_KHN,entry_channel_KHO,entry_channel_KHQ,entry_channel_RED
Index,,,,,,,,,,,,,,,,,,,,,
5519930,657817,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5519932,657905,2019-05-28,1.0,1,0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
5519933,657336,2019-05-28,1.0,2,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
5519934,657147,2019-05-28,0.0,2,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
5519935,658184,2019-05-28,1.0,2,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962920,1166764,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962921,1166763,2019-05-28,1.0,2,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962922,1166789,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962923,1550586,2019-05-28,1.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False

In [39]:
df_rc2 = df_rc2[["pk_cid","salary","age","segment","gender","region_code", "Financiacion","Ahorro","Cuentas","Antiguedad"]]

In [40]:
df_rc3 = df_rc2.merge(df_rc["cluster"], left_on="pk_cid", right_index=True, how="inner")

In [41]:
df_rc3 = df_rc3.set_index("pk_cid")

In [42]:
df_cluster_5 = df_rc3[df_rc3["cluster"] == 5].copy()

In [43]:
df_cluster_5

,salary,age,segment,gender,region_code,Financiacion,Ahorro,Cuentas,Antiguedad,cluster
pk_cid,,,,,,,,,,
657336,126765.57,38,2,1,28.0,0,0,1,2,5
655774,94054.20,37,2,0,15.0,0,0,1,5,5
656163,75408.45,53,2,0,28.0,0,0,2,11,5
656915,134470.14,37,2,1,33.0,0,0,1,17,5
656215,126765.57,38,2,1,28.0,0,0,1,2,5
...,...,...,...,...,...,...,...,...,...,...
1166804,99755.88,43,2,0,46.0,0,0,1,34,5
1166756,56105.28,42,2,0,50.0,0,0,1,34,5
1166734,96796.23,46,2,0,50.0,0,0,1,34,5
1166763,96796.23,47,2,0,50.0,0,0,1,34,5
1550586,126765.57,37,3,0,28.0,0,0,1,0,5

In [44]:
# eliminamos la columna de cluster del dataset para que no se use en el cálculo de la similitud de coseno.
df_cluster_5.drop("cluster", axis = 1, inplace = True)

In [45]:
df_cluster_5 = df_cluster_5.sample(frac=0.025, random_state=42)

In [46]:
EXECUTE = True

In [47]:
if EXECUTE:
    # normalizamos nuestro dataset
    st = time.time()
    
    scaler = MinMaxScaler()
    df_normalized = scaler.fit_transform(df_cluster_5)
    df_normalized = pd.DataFrame(df_normalized, columns=df_cluster_5.columns)
    df_normalized.index = df_cluster_5.index


    et = time.time()
    print("Normalization took {} minutes".format(round((et - st)/60, 2)))

    sparse_ratings = sp.sparse.csr_matrix(df_normalized.values)

    st = time.time()
    print("Working with user similarity")
    user_similarity = cosine_similarity(sparse_ratings)
    user_sim_df = pd.DataFrame(user_similarity, index = df_normalized.index, columns = df_normalized.index)
    user_sim_df.columns = map(str, user_sim_df.columns)
    user_sim_df.to_parquet("cf_user_similarity_c.parquet.gzip")

    print("Working with item similarity")
    item_similarity = cosine_similarity(sparse_ratings.T)
    item_sim_df = pd.DataFrame(item_similarity, index = df_normalized.columns, columns = df_normalized.columns)
    item_sim_df.columns = map(str, item_sim_df.columns)
    item_sim_df.to_parquet("cf_item_similarity_c.parquet.gzip")

    et = time.time()
    print("Total time to calculate similarity took {} minutes.".format(round((et - st)/60, 2)))

else:
    user_sim_df = pd.read_parquet(os.path.join(PATH_FOLDER, "cf_user_similarity_c.parquet.gzip"))
    item_sim_df = pd.read_parquet(os.path.join(PATH_FOLDER, "cf_item_similarity_c.parquet.gzip"))

Normalization took 0.0 minutes
Working with user similarity
Working with item similarity
Total time to calculate similarity took 0.01 minutes.

In [48]:
user_sim_df.head(5)

,1382253,1013152,1122965,1528262,1201044,1212834,1397070,1264223,891992,1024508,...,1101421,1352517,1009044,1529224,1204830,1290479,1177367,1125131,1533318,1203356
pk_cid,,,,,,,,,,,,,,,,,,,,,
1382253,1.000000,0.749218,0.552635,0.950528,0.885785,0.863051,0.736262,0.838069,0.488687,0.677711,...,0.687532,0.503347,0.797261,0.698446,0.735516,0.898280,0.700585,0.790775,0.730615,0.928882
1013152,0.749218,1.000000,0.843096,0.596585,0.657247,0.670398,0.826783,0.591015,0.653390,0.952929,...,0.898727,0.616877,0.706429,0.771176,0.919190,0.641021,0.887526,0.644928,0.420827,0.742745
1122965,0.552635,0.843096,1.000000,0.443979,0.578719,0.588942,0.556935,0.587830,0.759015,0.860566,...,0.658144,0.559569,0.604403,0.481961,0.641248,0.428600,0.625437,0.567076,0.431032,0.535030
1528262,0.950528,0.596585,0.443979,1.000000,0.887197,0.881706,0.667808,0.830905,0.415936,0.599482,...,0.488069,0.493061,0.756566,0.639149,0.565689,0.908940,0.525715,0.810771,0.801505,0.843872
1201044,0.885785,0.657247,0.578719,0.887197,1.000000,0.798002,0.583985,0.848935,0.563780,0.678955,...,0.575603,0.411530,0.754307,0.536002,0.562869,0.891140,0.484713,0.891619,0.734609,0.804564

In [49]:
item_sim_df.head(5)

,salary,age,segment,gender,region_code,Financiacion,Ahorro,Cuentas,Antiguedad
salary,1.000000,0.724364,0.817124,0.643101,0.763195,0.434731,0.243318,0.829049,0.741228
age,0.724364,1.000000,0.680544,0.591789,0.702704,0.383208,0.222977,0.748210,0.684777
segment,0.817124,0.680544,1.000000,0.690972,0.848516,0.472560,0.184717,0.864821,0.810115
gender,0.643101,0.591789,0.690972,1.000000,0.660950,0.378694,0.181889,0.698341,0.634531
region_code,0.763195,0.702704,0.848516,0.660950,1.000000,0.448895,0.223293,0.832371,0.755026

In [50]:
def top_users(user, df):
    '''
    This function prints the top 10 similar users based on cosine similarity.
    '''

    df.columns = map(int, df.columns)

    if user not in df.columns:
        return('No data available on user {}'.format(user))

    print('Most Similar Users:\n')

    sim_users = df.sort_values(by = user, ascending=False).index[1:616]
    sim_values = df.sort_values(by = user, ascending=False).loc[:,user].tolist()[1:616]

    for user, sim in zip(sim_users, sim_values):
        print('User #{0}, Similarity value: {1:.4f}'.format(user, sim))

    return sim_users, sim_values

In [51]:
user1 = np.random.choice(user_sim_df.index)

In [52]:
[similar_users, similar_values] = top_users(user1, user_sim_df)

Most Similar Users:

User #1262114, Similarity value: 0.9955
User #1265390, Similarity value: 0.9929
User #1259446, Similarity value: 0.9887
User #1316975, Similarity value: 0.9875
User #1307760, Similarity value: 0.9869
User #1355432, Similarity value: 0.9858
User #1393615, Similarity value: 0.9843
User #1342683, Similarity value: 0.9840
User #1207992, Similarity value: 0.9839
User #1374413, Similarity value: 0.9830
User #1179939, Similarity value: 0.9829
User #505585, Similarity value: 0.9814
User #1275304, Similarity value: 0.9812
User #1442413, Similarity value: 0.9810
User #1264870, Similarity value: 0.9807
User #1369446, Similarity value: 0.9806
User #1238952, Similarity value: 0.9805
User #1373156, Similarity value: 0.9798
User #1167029, Similarity value: 0.9797
User #433076, Similarity value: 0.9796
User #1289988, Similarity value: 0.9790
User #1195001, Similarity value: 0.9790
User #1395331, Similarity value: 0.9775
User #1511984, Similarity value: 0.9770
User #1242167, Similarity value: 0.9769
User #1135365, Similarity value: 0.9751
User #1037342, Similarity value: 0.9746
User #1423419, Similarity value: 0.9745
User #1235341, Similarity value: 0.9744
User #1240367, Similarity value: 0.9742
User #1018017, Similarity value: 0.9742
User #1296449, Similarity value: 0.9741
User #1247627, Similarity value: 0.9737
User #1323966, Similarity value: 0.9729
User #1259493, Similarity value: 0.9728
User #1184031, Similarity value: 0.9725
User #1123089, Similarity value: 0.9721
User #1116642, Similarity value: 0.9720
User #1142698, Similarity value: 0.9719
User #1259593, Similarity value: 0.9716
User #1421212, Similarity value: 0.9715
User #1474525, Similarity value: 0.9715
User #1229533, Similarity value: 0.9715
User #1468559, Similarity value: 0.9712
User #1459620, Similarity value: 0.9706
User #1361149, Similarity value: 0.9706
User #1257783, Similarity value: 0.9703
User #1400974, Similarity value: 0.9699
User #1268767, Similarity value: 0.9696
User #1404893, Similarity value: 0.9695
User #1044599, Similarity value: 0.9692
User #1092408, Similarity value: 0.9687
User #1211048, Similarity value: 0.9683
User #1499133, Similarity value: 0.9682
User #1378268, Similarity value: 0.9672
User #1404039, Similarity value: 0.9654
User #1241127, Similarity value: 0.9654
User #1293308, Similarity value: 0.9652
User #1173277, Similarity value: 0.9649
User #1331734, Similarity value: 0.9645
User #1082672, Similarity value: 0.9644
User #1478379, Similarity value: 0.9640
User #1136374, Similarity value: 0.9636
User #539826, Similarity value: 0.9631
User #1010873, Similarity value: 0.9627
User #1158165, Similarity value: 0.9622
User #1468962, Similarity value: 0.9620
User #1068624, Similarity value: 0.9616
User #1107240, Similarity value: 0.9610
User #1519220, Similarity value: 0.9607
User #906928, Similarity value: 0.9606
User #1110737, Similarity value: 0.9603
User #1449010, Similarity value: 0.9603
User #1093175, Similarity value: 0.9603
User #1127448, Similarity value: 0.9600
User #1504990, Similarity value: 0.9599
User #1249007, Similarity value: 0.9595
User #1289776, Similarity value: 0.9589
User #1242001, Similarity value: 0.9588
User #1064104, Similarity value: 0.9583
User #1242170, Similarity value: 0.9579
User #1473283, Similarity value: 0.9577
User #1106009, Similarity value: 0.9575
User #1109168, Similarity value: 0.9571
User #1104104, Similarity value: 0.9567
User #623962, Similarity value: 0.9567
User #1084988, Similarity value: 0.9563
User #1226898, Similarity value: 0.9563
User #1532441, Similarity value: 0.9562
User #1256658, Similarity value: 0.9562
User #1185062, Similarity value: 0.9558
User #1125131, Similarity value: 0.9558
User #1135547, Similarity value: 0.9557
User #512578, Similarity value: 0.9555
User #1068434, Similarity value: 0.9552
User #1357680, Similarity value: 0.9549
User #1216621, Similarity value: 0.9546
User #1031392, Similarity value: 0.9544
User #1544498, Similarity value: 0.9539
User #1502556, Similarity value: 0.9534
User #1110674, Similarity value: 0.9531
User #1396897, Similarity value: 0.9529
User #1376901, Similarity value: 0.9529
User #1483825, Similarity value: 0.9527
User #1148925, Similarity value: 0.9527
User #1440426, Similarity value: 0.9527
User #1180257, Similarity value: 0.9525
User #1455726, Similarity value: 0.9524
User #1514028, Similarity value: 0.9524
User #1022223, Similarity value: 0.9521
User #1437219, Similarity value: 0.9516
User #1378095, Similarity value: 0.9516
User #1352086, Similarity value: 0.9512
User #1308333, Similarity value: 0.9510
User #1532599, Similarity value: 0.9509
User #1378743, Similarity value: 0.9501
User #1137542, Similarity value: 0.9501
User #1044552, Similarity value: 0.9497
User #1265364, Similarity value: 0.9497
User #1085935, Similarity value: 0.9493
User #1312518, Similarity value: 0.9488
User #1361252, Similarity value: 0.9483
User #1358249, Similarity value: 0.9483
User #1267036, Similarity value: 0.9481
User #1521186, Similarity value: 0.9481
User #1393039, Similarity value: 0.9479
User #1005710, Similarity value: 0.9477
User #1247100, Similarity value: 0.9474
User #1211328, Similarity value: 0.9472
User #1512519, Similarity value: 0.9471
User #1236511, Similarity value: 0.9471
User #1170481, Similarity value: 0.9470
User #1110143, Similarity value: 0.9470
User #856490, Similarity value: 0.9467
User #1379690, Similarity value: 0.9466
User #1227675, Similarity value: 0.9465
User #1526984, Similarity value: 0.9457
User #1011170, Similarity value: 0.9456
User #1351365, Similarity value: 0.9454
User #1134778, Similarity value: 0.9454
User #1398261, Similarity value: 0.9448
User #1520729, Similarity value: 0.9447
User #1531303, Similarity value: 0.9447
User #802171, Similarity value: 0.9443
User #1023117, Similarity value: 0.9441
User #1382222, Similarity value: 0.9432
User #1395294, Similarity value: 0.9431
User #1171130, Similarity value: 0.9431
User #1253602, Similarity value: 0.9430
User #1398307, Similarity value: 0.9430
User #1005324, Similarity value: 0.9427
User #1375357, Similarity value: 0.9423
User #1127851, Similarity value: 0.9422
User #1398409, Similarity value: 0.9420
User #1531642, Similarity value: 0.9419
User #1242482, Similarity value: 0.9419
User #1238137, Similarity value: 0.9417
User #1213584, Similarity value: 0.9412
User #1251388, Similarity value: 0.9409
User #1346368, Similarity value: 0.9405
User #1026393, Similarity value: 0.9403
User #1533318, Similarity value: 0.9403
User #1408625, Similarity value: 0.9397
User #1303584, Similarity value: 0.9391
User #1404104, Similarity value: 0.9390
User #1545930, Similarity value: 0.9387
User #1266905, Similarity value: 0.9387
User #1185630, Similarity value: 0.9384
User #1263751, Similarity value: 0.9383
User #1228244, Similarity value: 0.9380
User #1020051, Similarity value: 0.9380
User #1069503, Similarity value: 0.9379
User #1520145, Similarity value: 0.9377
User #1351182, Similarity value: 0.9376
User #1376222, Similarity value: 0.9374
User #1377737, Similarity value: 0.9373
User #1376169, Similarity value: 0.9373
User #1253814, Similarity value: 0.9372
User #1134129, Similarity value: 0.9371
User #1395879, Similarity value: 0.9368
User #1171521, Similarity value: 0.9368
User #1498911, Similarity value: 0.9366
User #1347042, Similarity value: 0.9366
User #1264223, Similarity value: 0.9364
User #1115866, Similarity value: 0.9361
User #1350451, Similarity value: 0.9358
User #1364189, Similarity value: 0.9355
User #386971, Similarity value: 0.9351
User #1446369, Similarity value: 0.9351
User #1181436, Similarity value: 0.9347
User #1374915, Similarity value: 0.9340
User #721233, Similarity value: 0.9340
User #1114438, Similarity value: 0.9338
User #1387747, Similarity value: 0.9338
User #1368471, Similarity value: 0.9337
User #1066749, Similarity value: 0.9334
User #1540432, Similarity value: 0.9333
User #1508711, Similarity value: 0.9332
User #1009112, Similarity value: 0.9330
User #1286576, Similarity value: 0.9330
User #1427636, Similarity value: 0.9330
User #1138724, Similarity value: 0.9329
User #1244882, Similarity value: 0.9327
User #1393729, Similarity value: 0.9326
User #1531004, Similarity value: 0.9325
User #1005983, Similarity value: 0.9325
User #1452652, Similarity value: 0.9323
User #1121807, Similarity value: 0.9323
User #1547936, Similarity value: 0.9315
User #1349822, Similarity value: 0.9312
User #1351499, Similarity value: 0.9311
User #1140573, Similarity value: 0.9307
User #1342154, Similarity value: 0.9306
User #1377431, Similarity value: 0.9306
User #1244024, Similarity value: 0.9303
User #1114552, Similarity value: 0.9301
User #1262631, Similarity value: 0.9297
User #1253937, Similarity value: 0.9296
User #1020022, Similarity value: 0.9296
User #1265288, Similarity value: 0.9285
User #1232174, Similarity value: 0.9284
User #1487725, Similarity value: 0.9283
User #1173268, Similarity value: 0.9282
User #1526289, Similarity value: 0.9282
User #1267214, Similarity value: 0.9280
User #1019310, Similarity value: 0.9279
User #1292423, Similarity value: 0.9278
User #1545789, Similarity value: 0.9272
User #1004620, Similarity value: 0.9272
User #1083712, Similarity value: 0.9272
User #1169713, Similarity value: 0.9272
User #1501046, Similarity value: 0.9271
User #1269275, Similarity value: 0.9271
User #1026356, Similarity value: 0.9266
User #1445110, Similarity value: 0.9264
User #1234555, Similarity value: 0.9263
User #1185994, Similarity value: 0.9263
User #1013890, Similarity value: 0.9258
User #1299226, Similarity value: 0.9258
User #1230110, Similarity value: 0.9255
User #1050905, Similarity value: 0.9255
User #1028503, Similarity value: 0.9254
User #1245517, Similarity value: 0.9253
User #1016828, Similarity value: 0.9253
User #1255324, Similarity value: 0.9252
User #1522445, Similarity value: 0.9251
User #1376349, Similarity value: 0.9249
User #1532976, Similarity value: 0.9246
User #1425739, Similarity value: 0.9244
User #1256417, Similarity value: 0.9242
User #1477108, Similarity value: 0.9241
User #1519302, Similarity value: 0.9240
User #1215004, Similarity value: 0.9240
User #1327343, Similarity value: 0.9239
User #1062455, Similarity value: 0.9238
User #1287946, Similarity value: 0.9237
User #1532868, Similarity value: 0.9237
User #1098542, Similarity value: 0.9236
User #1237634, Similarity value: 0.9236
User #1270050, Similarity value: 0.9235
User #1340683, Similarity value: 0.9234
User #1311709, Similarity value: 0.9232
User #1002368, Similarity value: 0.9227
User #1095655, Similarity value: 0.9227
User #1438311, Similarity value: 0.9227
User #1018528, Similarity value: 0.9225
User #1364721, Similarity value: 0.9222
User #1107234, Similarity value: 0.9221
User #1001949, Similarity value: 0.9221
User #1144991, Similarity value: 0.9220
User #1115103, Similarity value: 0.9213
User #1106985, Similarity value: 0.9210
User #1403470, Similarity value: 0.9208
User #1492047, Similarity value: 0.9208
User #1174738, Similarity value: 0.9208
User #1381248, Similarity value: 0.9207
User #1132591, Similarity value: 0.9207
User #1350602, Similarity value: 0.9207
User #1463821, Similarity value: 0.9206
User #1280052, Similarity value: 0.9204
User #1218478, Similarity value: 0.9201
User #1134393, Similarity value: 0.9198
User #1064984, Similarity value: 0.9197
User #1398931, Similarity value: 0.9197
User #1011788, Similarity value: 0.9194
User #1308110, Similarity value: 0.9193
User #1094231, Similarity value: 0.9193
User #1398175, Similarity value: 0.9191
User #1537643, Similarity value: 0.9187
User #1538450, Similarity value: 0.9187
User #1494303, Similarity value: 0.9180
User #1386428, Similarity value: 0.9176
User #1127062, Similarity value: 0.9175
User #1531494, Similarity value: 0.9172
User #1264335, Similarity value: 0.9172
User #1515779, Similarity value: 0.9168
User #1466499, Similarity value: 0.9168
User #1529632, Similarity value: 0.9168
User #1450898, Similarity value: 0.9168
User #1005332, Similarity value: 0.9168
User #1290479, Similarity value: 0.9167
User #1382290, Similarity value: 0.9166
User #1387241, Similarity value: 0.9164
User #1458144, Similarity value: 0.9157
User #286061, Similarity value: 0.9157
User #1375320, Similarity value: 0.9156
User #1247771, Similarity value: 0.9155
User #1522407, Similarity value: 0.9155
User #1119665, Similarity value: 0.9153
User #1243929, Similarity value: 0.9149
User #1398758, Similarity value: 0.9148
User #1531201, Similarity value: 0.9145
User #1052135, Similarity value: 0.9139
User #1368960, Similarity value: 0.9137
User #1384386, Similarity value: 0.9137
User #1269334, Similarity value: 0.9135
User #1141154, Similarity value: 0.9135
User #1141440, Similarity value: 0.9134
User #1374800, Similarity value: 0.9133
User #1353315, Similarity value: 0.9131
User #1260195, Similarity value: 0.9130
User #1246839, Similarity value: 0.9127
User #1531108, Similarity value: 0.9125
User #1341262, Similarity value: 0.9120
User #1343423, Similarity value: 0.9119
User #1519262, Similarity value: 0.9119
User #1552921, Similarity value: 0.9118
User #1044145, Similarity value: 0.9113
User #1058086, Similarity value: 0.9112
User #1375613, Similarity value: 0.9111
User #1138672, Similarity value: 0.9111
User #1484667, Similarity value: 0.9111
User #1011784, Similarity value: 0.9108
User #1191085, Similarity value: 0.9107
User #1389784, Similarity value: 0.9107
User #1451147, Similarity value: 0.9106
User #1282465, Similarity value: 0.9103
User #1523698, Similarity value: 0.9095
User #1021151, Similarity value: 0.9094
User #843569, Similarity value: 0.9093
User #1061082, Similarity value: 0.9092
User #1263425, Similarity value: 0.9090
User #1264154, Similarity value: 0.9089
User #1533961, Similarity value: 0.9088
User #1362105, Similarity value: 0.9087
User #1392491, Similarity value: 0.9086
User #1393051, Similarity value: 0.9086
User #1370245, Similarity value: 0.9085
User #1511927, Similarity value: 0.9085
User #1374360, Similarity value: 0.9083
User #1009853, Similarity value: 0.9082
User #1118361, Similarity value: 0.9078
User #1403895, Similarity value: 0.9078
User #1100971, Similarity value: 0.9076
User #1124253, Similarity value: 0.9075
User #1257028, Similarity value: 0.9074
User #1011967, Similarity value: 0.9073
User #1113602, Similarity value: 0.9072
User #1074227, Similarity value: 0.9068
User #1127263, Similarity value: 0.9062
User #1437610, Similarity value: 0.9061
User #1181531, Similarity value: 0.9061
User #1303746, Similarity value: 0.9059
User #1105882, Similarity value: 0.9057
User #1251848, Similarity value: 0.9057
User #1332096, Similarity value: 0.9057
User #1005947, Similarity value: 0.9053
User #1060643, Similarity value: 0.9051
User #1044662, Similarity value: 0.9051
User #1391221, Similarity value: 0.9051
User #1001165, Similarity value: 0.9044
User #1230388, Similarity value: 0.9042
User #1098998, Similarity value: 0.9038
User #1079837, Similarity value: 0.9038
User #1441196, Similarity value: 0.9038
User #1522552, Similarity value: 0.9035
User #1237766, Similarity value: 0.9033
User #1245698, Similarity value: 0.9031
User #1515714, Similarity value: 0.9030
User #1382383, Similarity value: 0.9029
User #1140356, Similarity value: 0.9029
User #1004309, Similarity value: 0.9026
User #1108042, Similarity value: 0.9026
User #1505491, Similarity value: 0.9023
User #1299048, Similarity value: 0.9022
User #1088900, Similarity value: 0.9021
User #1351390, Similarity value: 0.9021
User #1122506, Similarity value: 0.9019
User #1306879, Similarity value: 0.9018
User #1396848, Similarity value: 0.9018
User #1535018, Similarity value: 0.9018
User #1073055, Similarity value: 0.9018
User #1383391, Similarity value: 0.9018
User #1038756, Similarity value: 0.9016
User #1178604, Similarity value: 0.9012
User #1512516, Similarity value: 0.9012
User #1508082, Similarity value: 0.9012
User #1101844, Similarity value: 0.9011
User #1479902, Similarity value: 0.9010
User #1245825, Similarity value: 0.9009
User #1237708, Similarity value: 0.9004
User #1497357, Similarity value: 0.9002
User #1246280, Similarity value: 0.9001
User #1002173, Similarity value: 0.9000
User #1369199, Similarity value: 0.8996
User #1540807, Similarity value: 0.8995
User #1537484, Similarity value: 0.8994
User #1240248, Similarity value: 0.8993
User #1388974, Similarity value: 0.8991
User #1377061, Similarity value: 0.8988
User #1496540, Similarity value: 0.8987
User #1054196, Similarity value: 0.8985
User #1528838, Similarity value: 0.8981
User #1235066, Similarity value: 0.8981
User #1266047, Similarity value: 0.8977
User #1435380, Similarity value: 0.8974
User #1396411, Similarity value: 0.8972
User #1539368, Similarity value: 0.8969
User #1306922, Similarity value: 0.8968
User #1242364, Similarity value: 0.8967
User #1059787, Similarity value: 0.8967
User #1111549, Similarity value: 0.8963
User #1004749, Similarity value: 0.8963
User #1539717, Similarity value: 0.8960
User #1423704, Similarity value: 0.8959
User #1390962, Similarity value: 0.8959
User #1060650, Similarity value: 0.8956
User #1526897, Similarity value: 0.8952
User #1524897, Similarity value: 0.8952
User #1542258, Similarity value: 0.8952
User #1468527, Similarity value: 0.8951
User #1540201, Similarity value: 0.8950
User #1431193, Similarity value: 0.8947
User #1546304, Similarity value: 0.8946
User #1549933, Similarity value: 0.8945
User #1413288, Similarity value: 0.8944
User #1019368, Similarity value: 0.8941
User #1312421, Similarity value: 0.8941
User #1539493, Similarity value: 0.8941
User #1013930, Similarity value: 0.8936
User #1296433, Similarity value: 0.8933
User #1071696, Similarity value: 0.8932
User #1457961, Similarity value: 0.8931
User #1237764, Similarity value: 0.8925
User #1230164, Similarity value: 0.8924
User #1020091, Similarity value: 0.8921
User #1118561, Similarity value: 0.8921
User #1078080, Similarity value: 0.8918
User #1168514, Similarity value: 0.8915
User #1018765, Similarity value: 0.8914
User #1392675, Similarity value: 0.8913
User #1534318, Similarity value: 0.8910
User #1276455, Similarity value: 0.8910
User #1036004, Similarity value: 0.8908
User #1523353, Similarity value: 0.8905
User #1005055, Similarity value: 0.8905
User #1360277, Similarity value: 0.8905
User #1097900, Similarity value: 0.8905
User #1120010, Similarity value: 0.8903
User #1244082, Similarity value: 0.8902
User #1075354, Similarity value: 0.8900
User #1352715, Similarity value: 0.8894
User #1456720, Similarity value: 0.8890
User #1503422, Similarity value: 0.8888
User #1540424, Similarity value: 0.8886
User #1248530, Similarity value: 0.8885
User #1015975, Similarity value: 0.8884
User #1207565, Similarity value: 0.8876
User #1133139, Similarity value: 0.8875
User #1248845, Similarity value: 0.8875
User #1092817, Similarity value: 0.8874
User #1394338, Similarity value: 0.8871
User #1494590, Similarity value: 0.8870
User #1061111, Similarity value: 0.8867
User #1054070, Similarity value: 0.8865
User #1053732, Similarity value: 0.8863
User #1304772, Similarity value: 0.8860
User #1435698, Similarity value: 0.8855
User #1230434, Similarity value: 0.8852
User #1069236, Similarity value: 0.8851
User #1215621, Similarity value: 0.8851
User #1125085, Similarity value: 0.8850
User #1541416, Similarity value: 0.8849
User #1084406, Similarity value: 0.8849
User #1057049, Similarity value: 0.8847
User #1266972, Similarity value: 0.8845
User #1516333, Similarity value: 0.8843
User #1033048, Similarity value: 0.8843
User #1539221, Similarity value: 0.8843
User #1111627, Similarity value: 0.8841
User #1373827, Similarity value: 0.8836
User #1481143, Similarity value: 0.8836
User #1220892, Similarity value: 0.8835
User #1549975, Similarity value: 0.8833
User #1248008, Similarity value: 0.8832
User #1005312, Similarity value: 0.8831
User #1380222, Similarity value: 0.8830
User #1393618, Similarity value: 0.8829
User #1410129, Similarity value: 0.8821

In [53]:
similar_values

[0.995476410147021,
 0.9928602601618128,
 0.9887157324410828,
 0.9874743328735791,
 0.9868596913763275,
 0.9857603832320813,
 0.9842995017267211,
 0.9840461123829027,
 0.9838728455578954,
 0.9830090454599062,
 0.982918825599977,
 0.9813815202328721,
 0.9811847357234107,
 0.9809850127083191,
 0.9807355480465908,
 0.9806453544751134,
 0.9804972108356202,
 0.9797510181891669,
 0.9797458476471758,
 0.9795658358831135,
 0.978960323523562,
 0.9789569693268274,
 0.9775116868380418,
 0.9769609556920971,
 0.9769041957341282,
 0.9750524937409701,
 0.9745745833077879,
 0.974452833246474,
 0.9743982285982182,
 0.9741868170415077,
 0.9741717262097914,
 0.9740862225703977,
 0.9737119354740403,
 0.9729383953012436,
 0.9727791164874098,
 0.9724556174241226,
 0.9720505650134925,
 0.9720383420187477,
 0.9719395134018419,
 0.9715956966979955,
 0.9715475513003086,
 0.9715376604723642,
 0.9714688332110316,
 0.9712227687383834,
 0.9706339704879553,
 0.9705606216638731,
 0.9703279300281987,
 0.9699486499660541,
 0.9696326103044379,
 0.9694688497988098,
 0.9692327514076915,
 0.968672240133932,
 0.9683048659267195,
 0.968246755342815,
 0.9672215848626283,
 0.9654007413116159,
 0.9653751607800536,
 0.9652168210420954,
 0.964889217237247,
 0.9644862621116932,
 0.9643973068560397,
 0.9639745430672435,
 0.9636280367319909,
 0.9630656281833703,
 0.96271816346702,
 0.9622020479595751,
 0.9620391753755801,
 0.9616182969683212,
 0.9610092075555433,
 0.9606886899458501,
 0.9605722943473365,
 0.960334995839162,
 0.9603163604484125,
 0.9602586362465174,
 0.9600237809999936,
 0.9599448668406496,
 0.9594722337471597,
 0.9589256298902589,
 0.9588299595448364,
 0.9582574439234373,
 0.9579188473744404,
 0.9576875718395329,
 0.957506143663597,
 0.9571089527999731,
 0.9567029472673407,
 0.9566528204827296,
 0.9562952379034717,
 0.9562810251624145,
 0.9562139307527401,
 0.9561612145075691,
 0.9558038088720989,
 0.9557689317420537,
 0.9557151991517736,
 0.9554743991968497,
 0.9552402538478434,
 0.9548525235116523,
 0.9546141952380007,
 0.9543782910929677,
 0.9538905392862637,
 0.9534271041790675,
 0.9530937276556556,
 0.9528922573431309,
 0.9528604444601227,
 0.9527354354390141,
 0.9527305333072214,
 0.9527266007849409,
 0.9525018263735744,
 0.9524399966211998,
 0.9523796555392094,
 0.9520780242371336,
 0.9516236943107006,
 0.9515842271728627,
 0.9511762469266126,
 0.9509778032406728,
 0.9508905926305448,
 0.9501295532670477,
 0.9500743726950716,
 0.9497432130568774,
 0.9496661744259882,
 0.9493101931026644,
 0.9488291551827482,
 0.9483372854737098,
 0.9483258510088979,
 0.9481327406328386,
 0.9480639394072082,
 0.947884647281614,
 0.947667067761661,
 0.9474295894100504,
 0.9472346601947836,
 0.9470811965616872,
 0.9470518600321545,
 0.9470350943212807,
 0.9470297702962154,
 0.9467017428259861,
 0.9465516537713347,
 0.9465010849196404,
 0.9456606180967588,
 0.9455664352129178,
 0.9454120189236827,
 0.9453722998318927,
 0.9448081139150104,
 0.9447219932204953,
 0.9446834949975842,
 0.9443020954701431,
 0.9440931144561346,
 0.9432159841549907,
 0.943147157681271,
 0.9431422049291581,
 0.943022802006187,
 0.9429704235492541,
 0.9426655650974732,
 0.9422707418572444,
 0.9421758081255783,
 0.9420105973019793,
 0.9419325847170311,
 0.9418983571345173,
 0.9416805719638293,
 0.941218643772635,
 0.9408791113705196,
 0.9405315643134502,
 0.9403351146897554,
 0.9402672731289262,
 0.9397458744438454,
 0.9390663614504409,
 0.9389931216065708,
 0.9387249132240728,
 0.9387103970523376,
 0.9384121204879481,
 0.9383428870506126,
 0.93800961137346,
 0.9379547246501521,
 0.9379340645469039,
 0.9376609029574889,
 0.9376101510606124,
 0.9373667167786358,
 0.937270920791282,
 0.9372588859656844,
 0.9371890280736458,
 0.9370844700085211,
 0.9367952775894621,
 0.9367888020478883,
 0.9366254702601507,
 0.9366171037298779,
 0.9364048006788874,
 0.9360607869856664,
 0.9358189661125045,
 0.9355256489194409,
 0.935076866914679,
 0.9350566313360913,
 0.9347396647528995,
 0.9340214971387728,
 0.9340125738515462,
 0.9338304400895541,
 0.9337633201791492,
 0.9336693268574457,
 0.933415779176011,
 0.9332770302311212,
 0.9332095920428071,
 0.9330344578555034,
 0.9330188835881991,
 0.9329644808191601,
 0.932888248172131,
 0.9326786966286427,
 0.9325884340752278,
 0.9324966812178205,
 0.9324714275656335,
 0.9323187919871497,
 0.9322668856439662,
 0.9314985472785724,
 0.9312021232394575,
 0.9311075167158985,
 0.9306904306887608,
 0.9306448657417712,
 0.9306258129603104,
 0.93027016618824,
 0.9301495899226597,
 0.9297064534933753,
 0.9295989934231255,
 0.9295609899914753,
 0.9284968283584201,
 0.9283891994720386,
 0.9282701289120453,
 0.9282211448824085,
 0.9282081216739348,
 0.9279865059117914,
 0.927899833436986,
 0.9278284150128759,
 0.9272437953441781,
 0.9272404253672909,
 0.9272120980967756,
 0.9271949137793396,
 0.9271075005882443,
 0.9271017625797493,
 0.9265846128883796,
 0.9264192482163206,
 0.9262934819823416,
 0.9262648012116595,
 0.925799436289988,
 0.9257546916843288,
 0.9254959181196745,
 0.9254627335550654,
 0.9253501253787846,
 0.9253251062742898,
 0.925312762642389,
 0.9251505550923149,
 0.9251066189739188,
 0.9248751021739073,
 0.9245753144945137,
 0.9243572990299533,
 0.9241552017987296,
 0.9241486675255459,
 0.9239973100433098,
 0.9239504523156357,
 0.9238860020914966,
 0.9237719025898214,
 0.9236755333281905,
 0.9236670121820162,
 0.9236163724086217,
 0.9236005963017487,
 0.9234769574844431,
 0.923425959635603,
 0.9231866568045441,
 0.9227446838005298,
 0.9227312010607779,
 0.9226742106628728,
 0.922454337661781,
 0.9221509048082299,
 0.9221400379476432,
 0.9220976613681998,
 0.9220262479242781,
 0.9213058914403507,
 0.9209713540457725,
 0.9208351251756283,
 0.920795088458078,
 0.9207596724393269,
 0.9207310119265831,
 0.9206864665130834,
 0.9206511514068277,
 0.9206318242952123,
 0.9203621297067504,
 0.9201396727776284,
 0.9198181950935347,
 0.919678504401721,
 0.9196536811704771,
 0.9193741458114585,
 0.9193226825460777,
 0.9193152785104637,
 0.9191253399187835,
 0.918694604504042,
 0.918694604504042,
 0.917996845746332,
 0.9176358484148589,
 0.917502968452447,
 0.9172469624034371,
 0.9171678874422879,
 0.9168215387177361,
 0.916816910007816,
 0.9168158319147709,
 0.9168060141191257,
 0.9167796500740073,
 0.9166549597696153,
 0.9166404325286989,
 0.9163846731174374,
 0.9157449893226102,
 0.9156636755669699,
 0.9155959734807263,
 0.9154722332624263,
 0.91545335912011,
 0.9152707671934502,
 0.9148536171909672,
 0.9148013282155877,
 0.9144542055255869,
 0.9138878865104905,
 0.9137499299613693,
 0.9137170472271576,
 0.9135454327343866,
 0.9135325426559185,
 0.913425117716729,
 0.9132862923437653,
 0.9131354693859137,
 0.9130372154230263,
 0.9127120468929513,
 0.9124527210231481,
 0.9120066585022021,
 0.911937979538784,
 0.9118836122520073,
 0.9118073863734242,
 0.9112847086539977,
 0.9112057384147125,
 0.9111418431038121,
 0.9111376804221474,
 0.9111037253025462,
 0.9107655554424245,
 0.9107363076642362,
 0.9106571047463906,
 0.9106333579459936,
 0.9102693893244915,
 0.9094831087078509,
 0.9094401572839541,
 0.9092764434872194,
 0.9092181738759245,
 0.9090222234468938,
 0.908896420525032,
 0.908780684116563,
 0.9087321670578878,
 0.9086373502590405,
 0.9085566411626369,
 0.9085113094837406,
 0.9084572126838937,
 0.9082825547928732,
 0.9081917620922724,
 0.9077663952341413,
 0.9077600824195103,
 0.9076088986478578,
 0.9075495095832851,
 0.9074093867611678,
 0.9073414122133667,
 0.9071584848274843,
 0.9067888905862593,
 0.9061877917832839,
 0.906070974734807,
 0.9060685851995619,
 0.9058678329008342,
 0.9057431784061934,
 0.9057032782001816,
 0.9056778774218641,
 0.9052692674676867,
 0.905127448673445,
 0.905114676480607,
 0.9051072967076715,
 0.904396167768747,
 0.9042180499446963,
 0.9038498699974841,
 0.9038246982919608,
 0.9037857319685292,
 0.9034912948145187,
 0.9033134064613503,
 0.9030831373606921,
 0.9030002801956718,
 0.9029377456936305,
 0.9029178048952491,
 0.9026186484449211,
 0.902604737690333,
 0.9023262491918146,
 0.9022142109832745,
 0.9021389872900833,
 0.9021019028588514,
 0.9019020989759313,
 0.9017959394775361,
 0.9017927418970215,
 0.901783158882952,
 0.9017707923874616,
 0.9017685354791143,
 0.9015722204874612,
 0.9012047718571818,
 0.9011729699321928,
 0.9011729699321928,
 0.9011051451522969,
 0.9009857986219806,
 0.9008952425926761,
 0.9004459559187249,
 0.9002323460406497,
 0.900131713724016,
 0.8999800466846996,
 0.8996095002628328,
 0.8995205489528649,
 0.8993580142670219,
 0.8992601784146482,
 0.8990995111970582,
 0.8988166975705287,
 0.8987429061140918,
 0.8985075950802978,
 0.8981268366508497,
 0.898083663228838,
 0.8976903272760006,
 0.897410659064897,
 0.8971613769309486,
 0.8969302617915133,
 0.8967528790025143,
 0.8967364560936144,
 0.8967039539832953,
 0.8963465323703903,
 0.8963135309878448,
 0.8959856637951973,
 0.8959427891806029,
 0.8958996720162619,
 0.8956122561336751,
 0.8952381815697155,
 0.8952381815697155,
 0.8952208425766476,
 0.895144694856628,
 0.8949803935814307,
 0.8946682764091826,
 0.8945848913072324,
 0.8945020999470936,
 0.8943602100392345,
 0.894110292361734,
 0.8941055617567581,
 0.8941044448843011,
 0.8935951442483219,
 0.8933047414709653,
 0.8931585132488373,
 0.8930753580496179,
 0.8925083713223975,
 0.8923513558245497,
 0.8920843364705946,
 0.8920528657484402,
 0.8917927119241336,
 0.8914708069291986,
 0.891408020275337,
 0.8913228269371855,
 0.8910343079082798,
 0.891015638459339,
 0.8908172381839272,
 0.8905313837662617,
 0.89048718238496,
 0.8904793574828034,
 0.8904721071960279,
 0.8902870533397133,
 0.8901741168249022,
 0.8900451109005921,
 0.8893780666651608,
 0.8890418030839774,
 0.888771832123349,
 0.8886452065538408,
 0.8884758150700478,
 0.8883622862494847,
 0.8876472828361971,
 0.8875148573731577,
 0.8874755509862173,
 0.8873968532891731,
 0.8871097076552306,
 0.8869795607768852,
 0.8866999072824228,
 0.8864535735962924,
 0.8862665801031875,
 0.8859805824436056,
 0.8855410114881942,
 0.8852377821631707,
 0.8851326433975298,
 0.8850526944716048,
 0.8850017068660091,
 0.8849460049905993,
 0.8848865572282644,
 0.8847354233726227,
 0.8844937132538674,
 0.8843364603261195,
 0.8843100716219179,
 0.8842586172896438,
 0.8841035818845578,
 0.8836231954601961,
 0.8835782333435744,
 0.8835383170554538,
 0.8833006511206765,
 0.8832032599322148,
 0.8831071502688038,
 0.8830136288114023,
 0.8828714303953337,
 0.8820549376330518,
 0.881941102466027,
 0.8817346642940682,
 0.8812480773711491,
 0.8808893671394236,
 0.880793217740704,
 0.8804272481224598,
 0.8801639167856752,
 0.879381117377489,
 0.8793424808575023,
 0.8793247701995295,
 0.8792191299888314,
 0.8791625882601224,
 0.879140966245122,
 0.8790692995826723,
 0.8789883984669321,
 0.8788721987103352,
 0.87874397444651,
 0.8786432695870573,
 0.8786146548864537,
 0.8782602744829755,
 0.8778999067173736,
 0.8777833901268104,
 0.8777376096817352,
 0.8776726881290986,
 0.8776725956504526,
 0.8775222600967932,
 0.8773176642744229,
 0.8769877137835719,
 0.8767639998841052,
 0.8766661234035868,
 0.8766572551638045,
 0.8764773990918924,
 0.876202061315611,
 0.8760043901526686,
 0.8757618526803825,
 0.8757337490595273,
 0.8752496436817963,
 0.8747928091931774,
 0.8747631827345173,
 0.8745228824109526,
 0.8739241760810317,
 0.8738881503511515,
 0.8738415968505072,
 0.8735753294431945,
 0.8735586890351646,
 0.8735356579859226,
 0.8734490785552105,
 0.8732739127820995,
 0.8732565937033293,
 0.8731112595286309,
 0.8729606679832408,
 0.8728525031974033,
 0.872670915946745,
 0.872402963091494,
 0.8723569140873594,
 0.8717785220942162,
 0.8712999473377214,
 0.8711619783582097,
 0.8703171680324967,
 0.8702855257912915,
 0.8699668070122917,
 0.8699049461588578,
 0.8698907807500483,
 0.8697675179135687,
 0.8694908489760192,
 0.8690777625838769,
 0.8690765048594661,
 0.86878074440543,
 0.8687558300075762,
 0.8687150060704509,
 0.8684328855177473,
 0.8681571856903304,
 0.8679977323836542,
 0.8674624024960327,
 0.8668891728267245,
 0.8667475070498812,
 0.8664214860330046,
 0.866117430899718,
 0.8657278446828431,
 0.8653838235755531,
 0.8653071666853025,
 0.865211681668715,
 0.8648411711327343,
 0.8647187653437343,
 0.8645903751183027,
 0.8644332762836539,
 0.8633900415465168,
 0.8633900415465168,
 0.8633068041444224,
 0.8631097013712098,
 0.8630856188494991,
 0.8628895476088105,
 0.8624243167353843,
 0.8623543327568699,
 0.8620997670081726,
 0.861433128649584,
 0.8613618307232827,
 0.8611455455688809,
 0.8603062334940197,
 0.85969485348746,
 0.859024781669411,
 0.8588286768247149,
 0.858762342533776,
 0.8582807531259852,
 0.8580571948822144,
 0.8579271920868108,
 0.8578044169967831,
 0.8572053998776481,
 0.8571449082783269,
 0.8570264418564981,
 0.856973713992679,
 0.8568573075509455,
 0.8566140530862928,
 0.8563740308005356,
 0.8562856951893699,
 0.8561940663098235]

In [54]:
media = np.mean(similar_values[:616])
media

0.9164171174427933