In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OrdinalEncoder

from sklearn.model_selection import train_test_split


import folium
import plotly.express as px

from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import AdaBoostClassifier
import xgboost as xgb
from sklearn.linear_model import LinearRegression

import time

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import PCA

import scipy as sp

import os

In [2]:
PATH_FOLDER = os.path.join(os.getcwd(), "")

In [3]:
df=pd.read_csv("feature_eng_data.csv")

In [4]:
df.set_index('Index', inplace=True)

In [5]:
df['pk_partition'] = pd.to_datetime(df['pk_partition'])

In [6]:
df

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,em_acount,country_id,region_code,gender,age,deceased,salary,Financiacion,Ahorro,Cuentas
Index,,,,,,,,,,,,,,,,,,,,,
0,1375586,2018-01-28,2018-01-12,KHL,1.0,2,0,0,0,0,...,1,0,29.0,0,35,0,87218.10,0,0,1
1,1050611,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,1,0,13.0,1,23,0,35548.74,0,0,1
2,1050612,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,1,0,13.0,1,23,0,122179.11,0,0,1
3,1050613,2018-01-28,2015-08-10,KHD,0.0,3,1,0,0,0,...,0,0,50.0,0,22,0,119775.54,0,1,0
4,1050614,2018-01-28,2015-08-10,KHE,1.0,3,0,0,0,0,...,1,0,50.0,1,23,0,96796.23,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,50.0,1,22,0,43912.17,0,0,1
5962920,1166764,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,26.0,1,23,0,23334.99,0,0,1
5962921,1166763,2019-05-28,2016-08-14,KHE,1.0,2,0,0,0,0,...,1,0,50.0,0,47,0,96796.23,0,0,1
5962922,1166789,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,50.0,0,22,0,199592.82,0,0,1
5962923,1550586,2019-05-28,2019-05-13,KHE,1.0,3,0,0,0,0,...,1,0,28.0,0,37,0,126765.57,0,0,1

In [7]:
df['diff_productos'] = df.groupby('pk_cid')['Financiacion'].diff()

In [8]:
df['diff_productos']

Index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
5962919    0.0
5962920    0.0
5962921    0.0
5962922    0.0
5962923    NaN
Name: diff_productos, Length: 5936633, dtype: float64

In [9]:
df['compra'] = (df['diff_productos'] >= 1).astype(int)

In [10]:
df['compra'].value_counts()

compra
0    5853268
1      83365
Name: count, dtype: int64

In [11]:
#Comprobamos con un pk_cid que sabemso que tiene mas de un producto y vemos que detecta las compras correctamente

df[df['pk_cid'] == 16502]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,region_code,gender,age,deceased,salary,Financiacion,Ahorro,Cuentas,diff_productos,compra
Index,,,,,,,,,,,,,,,,,,,,,
2171490,16502,2018-09-28,2018-09-30,KHE,0.0,3,0,0,0,0,...,28.0,0,57,0,126765.57,0,0,0,NaN,0
2943633,16502,2018-10-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,1,0.0,0
2962972,16502,2018-11-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,1,0.0,0
3628237,16502,2018-12-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,1,0.0,0
4028330,16502,2019-01-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0
4480638,16502,2019-02-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0
4876038,16502,2019-03-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0
5134320,16502,2019-04-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0
5523395,16502,2019-05-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0

In [12]:
#Llenamos los NaN del primer mes con '0' ya que no tenemos con que comparar

In [13]:
df['diff_productos'].fillna(value=0, inplace=True)

In [14]:
#Por tanto 'compra' sera nuestro target para la predisposicion de compra de los productos "CUENTAS"

In [15]:
df['entry_date'] = pd.to_datetime(df['entry_date'])
df['pk_partition'] = pd.to_datetime(df['pk_partition'])

In [16]:
df['Antiguedad'] = (df['pk_partition'] - df['entry_date']) / pd.Timedelta(days=30)

In [17]:
df['Antiguedad'] = df['Antiguedad'].round().astype(int)

### TENDECIA DE COMPRA MENSUAL

In [18]:
df_st = df.copy()

In [19]:
df_st['mes'] = df_st['pk_partition'].dt.to_period('M')

In [20]:
serie_temporal = df_st.groupby('mes')['compra'].sum()

In [21]:
serie_temporal

mes
2018-01       0
2018-02    4070
2018-03    4569
2018-04    3990
2018-05    3662
2018-06    4261
2018-07    4548
2018-08    4266
2018-09    5908
2018-10    7001
2018-11    5820
2018-12    5734
2019-01    5391
2019-02    6736
2019-03    6150
2019-04    5529
2019-05    5730
Freq: M, Name: compra, dtype: int32

In [22]:
serie_temporal = serie_temporal.drop(serie_temporal.index[0])

In [23]:
#Intentaremos predecir cuantos productos de CUENTAS venderemos el mes siguiente (JUNIO DE 2019)

df_regresion = serie_temporal.reset_index()
df_regresion['mes'] = df_regresion['mes'].astype(str)  # Convertimos el periodo a string para la regresión lineal

# Dividimos los datos en características (X) y la variable objetivo (y)
X_st = pd.to_numeric(df_regresion['mes'].str.replace('-', ''), errors='coerce').values.reshape(-1, 1)  # Convertimos el periodo a un formato numérico para la regresión lineal
y_st = df_regresion['compra'].values

# Entrenamos el modelo de regresión lineal
modelo = LinearRegression()
modelo.fit(X_st, y_st)

# Predecimos las compras del mes 06 del año 2019
mes_06_2019 = pd.to_numeric('2019-06'.replace('-', ''), errors='coerce').reshape(-1, 1)  # Convertimos el periodo a un formato numérico para la predicción
prediccion_mes_06_2019 = modelo.predict(mes_06_2019)

print("Predicción de compras para el mes 06 del año 2019:", prediccion_mes_06_2019[0])

Predicción de compras para el mes 06 del año 2019: 5993.24768867949

In [24]:
#Predicción de beneficios

Beneficios = prediccion_mes_06_2019[0]*60
Beneficios

#Beneficios estimados para JUNIO 2019 de Productos de FINANCIACION = 359.594 €

359594.8613207694

### Predicción de acierto del modelo

In [25]:
df

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,gender,age,deceased,salary,Financiacion,Ahorro,Cuentas,diff_productos,compra,Antiguedad
Index,,,,,,,,,,,,,,,,,,,,,
0,1375586,2018-01-28,2018-01-12,KHL,1.0,2,0,0,0,0,...,0,35,0,87218.10,0,0,1,0.0,0,1
1,1050611,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,1,23,0,35548.74,0,0,1,0.0,0,30
2,1050612,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,1,23,0,122179.11,0,0,1,0.0,0,30
3,1050613,2018-01-28,2015-08-10,KHD,0.0,3,1,0,0,0,...,0,22,0,119775.54,0,1,0,0.0,0,30
4,1050614,2018-01-28,2015-08-10,KHE,1.0,3,0,0,0,0,...,1,23,0,96796.23,0,0,1,0.0,0,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,22,0,43912.17,0,0,1,0.0,0,34
5962920,1166764,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,23,0,23334.99,0,0,1,0.0,0,34
5962921,1166763,2019-05-28,2016-08-14,KHE,1.0,2,0,0,0,0,...,0,47,0,96796.23,0,0,1,0.0,0,34
5962922,1166789,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,0,22,0,199592.82,0,0,1,0.0,0,34
5962923,1550586,2019-05-28,2019-05-13,KHE,1.0,3,0,0,0,0,...,0,37,0,126765.57,0,0,1,0.0,0,0

In [26]:
df = df.drop(['entry_date','deceased','diff_productos'], axis=1)

In [27]:
df= pd.get_dummies(df, columns=['entry_channel'], drop_first=True)

In [28]:
#Generamos una copia para despues en el recomendador

df_rc2 = df.copy()

In [29]:
df = df.drop(['pk_cid','pk_partition'], axis = 1)

In [30]:
X = df.drop('compra', axis=1)  # Features
y = df['compra']  # Target

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
print("Tamaño del conjunto de entrenamiento (X):", X_train.shape)
print("Tamaño del conjunto de prueba (X):", X_test.shape)
print("Tamaño del conjunto de entrenamiento (y):", y_train.shape)
print("Tamaño del conjunto de prueba (y):", y_test.shape)

Tamaño del conjunto de entrenamiento (X): (4749306, 38)
Tamaño del conjunto de prueba (X): (1187327, 38)
Tamaño del conjunto de entrenamiento (y): (4749306,)
Tamaño del conjunto de prueba (y): (1187327,)

In [33]:
def AUC(model, X, y):
    return roc_auc_score(y, model.predict_proba(X)[:, 1])

def cross_validation(model, X, y):
    Kfold_metric = cross_val_score(model, X, y, cv=4, scoring='roc_auc')
    return Kfold_metric.mean()

In [34]:
label_ = []
metric_train_ = []
metric_valida_ = []

In [35]:
def evaluate_model(label, model, X, y):
 model.fit(X,y)
 metric_train = AUC(model,X,y)
 metric_valida = cross_validation(model,X,y)
 
 label_.append(label)
 metric_train_.append(metric_train)
 metric_valida_.append(metric_valida)
 return pd.DataFrame({'Model': label_,
                'AUC Train': metric_train_,
                'AUC Cross-Valida': metric_valida_
                }).sort_values('AUC Cross-Valida')

evaluate_model(label='XGBoost', 
 model = xgb.XGBClassifier(), 
 X=X_train, y=y_train)

### Recomendador

In [36]:
df_rc=pd.read_csv("clusters_v2.csv",index_col=0)

In [37]:
df_rc2 = df_rc2[df_rc2["pk_partition"] == "2019-05-28"]

In [38]:
df_rc2

,pk_cid,pk_partition,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,...,entry_channel_KHD,entry_channel_KHE,entry_channel_KHF,entry_channel_KHK,entry_channel_KHL,entry_channel_KHM,entry_channel_KHN,entry_channel_KHO,entry_channel_KHQ,entry_channel_RED
Index,,,,,,,,,,,,,,,,,,,,,
5519930,657817,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5519932,657905,2019-05-28,1.0,1,0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
5519933,657336,2019-05-28,1.0,2,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
5519934,657147,2019-05-28,0.0,2,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
5519935,658184,2019-05-28,1.0,2,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962920,1166764,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962921,1166763,2019-05-28,1.0,2,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962922,1166789,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962923,1550586,2019-05-28,1.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False

In [39]:
df_rc2 = df_rc2[["pk_cid","salary","age","segment","gender","region_code", "Financiacion","Ahorro","Cuentas","Antiguedad"]]

In [40]:
df_rc3 = df_rc2.merge(df_rc["cluster"], left_on="pk_cid", right_index=True, how="inner")

In [41]:
df_rc3 = df_rc3.set_index("pk_cid")

In [42]:
df_cluster_4 = df_rc3[df_rc3["cluster"] == 4].copy()

In [43]:
df_cluster_4

,salary,age,segment,gender,region_code,Financiacion,Ahorro,Cuentas,Antiguedad,cluster
pk_cid,,,,,,,,,,
658184,183036.72,42,2,1,28.0,2,1,3,49,4
656415,143418.03,32,2,1,28.0,2,1,2,52,4
650478,90712.98,86,2,0,28.0,1,1,2,9,4
654801,67164.33,63,1,0,28.0,0,2,1,28,4
652139,34699.20,85,2,0,35.0,1,1,1,42,4
...,...,...,...,...,...,...,...,...,...,...
1167084,180860.97,33,2,1,28.0,1,0,1,34,4
1167081,52423.38,35,2,0,28.0,1,0,2,34,4
1166671,148876.17,34,2,0,46.0,1,1,2,34,4
1166712,93346.47,34,2,1,46.0,1,0,1,34,4
1166666,68052.93,30,3,0,46.0,1,1,2,34,4

In [44]:
# eliminamos la columna de cluster del dataset para que no se use en el cálculo de la similitud de coseno.
df_cluster_4.drop("cluster", axis = 1, inplace = True)

In [45]:
df_cluster_4 = df_cluster_4.sample(frac=0.1, random_state=42)

In [46]:
EXECUTE = True

In [47]:
if EXECUTE:
    # normalizamos nuestro dataset
    st = time.time()
    
    scaler = MinMaxScaler()
    df_normalized = scaler.fit_transform(df_cluster_4)
    df_normalized = pd.DataFrame(df_normalized, columns=df_cluster_4.columns)
    df_normalized.index = df_cluster_4.index


    et = time.time()
    print("Normalization took {} minutes".format(round((et - st)/60, 2)))

    sparse_ratings = sp.sparse.csr_matrix(df_normalized.values)

    st = time.time()
    print("Working with user similarity")
    user_similarity = cosine_similarity(sparse_ratings)
    user_sim_df = pd.DataFrame(user_similarity, index = df_normalized.index, columns = df_normalized.index)
    user_sim_df.columns = map(str, user_sim_df.columns)
    user_sim_df.to_parquet("cf_user_similarity.parquet.gzip")

    print("Working with item similarity")
    item_similarity = cosine_similarity(sparse_ratings.T)
    item_sim_df = pd.DataFrame(item_similarity, index = df_normalized.columns, columns = df_normalized.columns)
    item_sim_df.columns = map(str, item_sim_df.columns)
    item_sim_df.to_parquet("cf_item_similarity.parquet.gzip")

    et = time.time()
    print("Total time to calculate similarity took {} minutes.".format(round((et - st)/60, 2)))

else:
    user_sim_df = pd.read_parquet(os.path.join(PATH_FOLDER, "cf_user_similarity.parquet.gzip"))
    item_sim_df = pd.read_parquet(os.path.join(PATH_FOLDER, "cf_item_similarity.parquet.gzip"))

Normalization took 0.0 minutes
Working with user similarity
Working with item similarity
Total time to calculate similarity took 0.01 minutes.

In [48]:
user_sim_df.head(5)

,1382437,1376606,1113048,1056596,1092469,1096408,1297357,1262644,1121584,1023660,...,1120382,1021918,1052967,1401942,1136250,1365630,1105940,1329109,1263015,1167394
pk_cid,,,,,,,,,,,,,,,,,,,,,
1382437,1.000000,0.944461,0.710006,0.655465,0.813611,0.718715,0.497904,0.542052,0.622849,0.770968,...,0.649851,0.770090,0.708889,0.557839,0.909339,0.521430,0.718587,0.872373,0.647050,0.886212
1376606,0.944461,1.000000,0.715940,0.708289,0.904807,0.655183,0.617418,0.637217,0.716379,0.763776,...,0.610096,0.689065,0.702550,0.611283,0.927880,0.554039,0.663411,0.967227,0.651174,0.951365
1113048,0.710006,0.715940,1.000000,0.960642,0.750967,0.877642,0.899089,0.915767,0.796329,0.974198,...,0.891179,0.723448,0.906731,0.922227,0.742067,0.781358,0.886355,0.725042,0.895007,0.751780
1056596,0.655465,0.708289,0.960642,1.000000,0.776899,0.882077,0.927037,0.949162,0.914158,0.939943,...,0.899286,0.702670,0.943330,0.927898,0.748196,0.871292,0.890914,0.728989,0.912173,0.767414
1092469,0.813611,0.904807,0.750967,0.776899,1.000000,0.657399,0.670621,0.710579,0.765725,0.803768,...,0.637960,0.764568,0.771027,0.600452,0.947058,0.498329,0.669122,0.962522,0.681868,0.982557

In [49]:
item_sim_df.head(5)

,salary,age,segment,gender,region_code,Financiacion,Ahorro,Cuentas,Antiguedad
salary,1.000000,0.772053,0.791849,0.643954,0.790228,0.758121,0.735650,0.831872,0.810541
age,0.772053,1.000000,0.693201,0.647381,0.787716,0.717613,0.715467,0.778718,0.795987
segment,0.791849,0.693201,1.000000,0.667329,0.821748,0.794786,0.712788,0.854508,0.834250
gender,0.643954,0.647381,0.667329,1.000000,0.681189,0.647564,0.598680,0.698294,0.678562
region_code,0.790228,0.787716,0.821748,0.681189,1.000000,0.762718,0.758758,0.852031,0.822006

In [50]:
def top_users(user, df):
    '''
    This function prints the top 10 similar users based on cosine similarity.
    '''

    df.columns = map(int, df.columns)

    if user not in df.columns:
        return('No data available on user {}'.format(user))

    print('Most Similar Users:\n')

    sim_users = df.sort_values(by = user, ascending=False).index[1:789]
    sim_values = df.sort_values(by = user, ascending=False).loc[:,user].tolist()[1:789]

    for user, sim in zip(sim_users, sim_values):
        print('User #{0}, Similarity value: {1:.4f}'.format(user, sim))

    return sim_users, sim_values

In [51]:
user1 = np.random.choice(user_sim_df.index)
user1

1005628

In [52]:
[similar_users, similar_values] = top_users(user1, user_sim_df)

Most Similar Users:

User #1003737, Similarity value: 0.9975
User #1003924, Similarity value: 0.9971
User #1011777, Similarity value: 0.9965
User #1015841, Similarity value: 0.9914
User #1018364, Similarity value: 0.9890
User #1110167, Similarity value: 0.9873
User #1079030, Similarity value: 0.9870
User #1121444, Similarity value: 0.9867
User #1094322, Similarity value: 0.9858
User #1072089, Similarity value: 0.9848
User #1125316, Similarity value: 0.9823
User #1140912, Similarity value: 0.9816
User #1161250, Similarity value: 0.9797
User #1135157, Similarity value: 0.9796
User #1133983, Similarity value: 0.9792
User #747346, Similarity value: 0.9787
User #672927, Similarity value: 0.9765
User #1098895, Similarity value: 0.9762
User #1127058, Similarity value: 0.9760
User #1016926, Similarity value: 0.9747
User #1001721, Similarity value: 0.9743
User #1213611, Similarity value: 0.9730
User #1198485, Similarity value: 0.9722
User #1167394, Similarity value: 0.9718
User #1123775, Similarity value: 0.9717
User #1100093, Similarity value: 0.9715
User #1014676, Similarity value: 0.9708
User #1134946, Similarity value: 0.9706
User #1226970, Similarity value: 0.9705
User #1135018, Similarity value: 0.9699
User #1128407, Similarity value: 0.9697
User #1191469, Similarity value: 0.9697
User #1001648, Similarity value: 0.9691
User #1021241, Similarity value: 0.9688
User #1196265, Similarity value: 0.9682
User #369500, Similarity value: 0.9680
User #1119257, Similarity value: 0.9673
User #1229724, Similarity value: 0.9669
User #1000749, Similarity value: 0.9667
User #1092469, Similarity value: 0.9652
User #1239415, Similarity value: 0.9648
User #1057080, Similarity value: 0.9647
User #1122517, Similarity value: 0.9640
User #497569, Similarity value: 0.9632
User #1066313, Similarity value: 0.9631
User #1092553, Similarity value: 0.9630
User #1019227, Similarity value: 0.9628
User #1081685, Similarity value: 0.9626
User #1106544, Similarity value: 0.9625
User #1014990, Similarity value: 0.9624
User #481370, Similarity value: 0.9622
User #1010355, Similarity value: 0.9622
User #1005759, Similarity value: 0.9621
User #1087903, Similarity value: 0.9618
User #1013201, Similarity value: 0.9616
User #1110663, Similarity value: 0.9615
User #1214827, Similarity value: 0.9612
User #1011021, Similarity value: 0.9607
User #1012348, Similarity value: 0.9607
User #625367, Similarity value: 0.9606
User #1008628, Similarity value: 0.9590
User #1020386, Similarity value: 0.9588
User #1053440, Similarity value: 0.9587
User #1009713, Similarity value: 0.9577
User #1005465, Similarity value: 0.9572
User #1011173, Similarity value: 0.9571
User #1018428, Similarity value: 0.9568
User #1020392, Similarity value: 0.9566
User #1021992, Similarity value: 0.9563
User #1136250, Similarity value: 0.9559
User #1138800, Similarity value: 0.9556
User #1006173, Similarity value: 0.9552
User #1122121, Similarity value: 0.9548
User #1006165, Similarity value: 0.9547
User #1236316, Similarity value: 0.9538
User #1127781, Similarity value: 0.9532
User #1020472, Similarity value: 0.9532
User #1128755, Similarity value: 0.9529
User #1259288, Similarity value: 0.9524
User #1151540, Similarity value: 0.9523
User #1241800, Similarity value: 0.9522
User #1261082, Similarity value: 0.9519
User #1165938, Similarity value: 0.9517
User #1168876, Similarity value: 0.9512
User #1118002, Similarity value: 0.9512
User #1019991, Similarity value: 0.9508
User #1243005, Similarity value: 0.9501
User #1125335, Similarity value: 0.9496
User #1180324, Similarity value: 0.9494
User #1253032, Similarity value: 0.9488
User #1094234, Similarity value: 0.9487
User #1119777, Similarity value: 0.9486
User #1008849, Similarity value: 0.9485
User #1246626, Similarity value: 0.9482
User #1238071, Similarity value: 0.9481
User #1015538, Similarity value: 0.9479
User #1143642, Similarity value: 0.9472
User #1268354, Similarity value: 0.9467
User #1221590, Similarity value: 0.9463
User #1015860, Similarity value: 0.9462
User #1007630, Similarity value: 0.9460
User #1012897, Similarity value: 0.9460
User #1021230, Similarity value: 0.9457
User #1139036, Similarity value: 0.9455
User #1256910, Similarity value: 0.9452
User #1128529, Similarity value: 0.9450
User #1052880, Similarity value: 0.9445
User #1016182, Similarity value: 0.9441
User #1012504, Similarity value: 0.9439
User #1013019, Similarity value: 0.9436
User #1237295, Similarity value: 0.9432
User #1251595, Similarity value: 0.9427
User #1252386, Similarity value: 0.9419
User #1119936, Similarity value: 0.9414
User #1002950, Similarity value: 0.9409
User #1014345, Similarity value: 0.9406
User #1174847, Similarity value: 0.9402
User #125189, Similarity value: 0.9397
User #1184696, Similarity value: 0.9392
User #1020694, Similarity value: 0.9382
User #1233641, Similarity value: 0.9381
User #644941, Similarity value: 0.9374
User #1120129, Similarity value: 0.9374
User #1071795, Similarity value: 0.9373
User #1137877, Similarity value: 0.9367
User #1124825, Similarity value: 0.9366
User #1068000, Similarity value: 0.9360
User #1138375, Similarity value: 0.9357
User #536169, Similarity value: 0.9356
User #1015911, Similarity value: 0.9353
User #1011971, Similarity value: 0.9352
User #1134868, Similarity value: 0.9346
User #1137635, Similarity value: 0.9346
User #115885, Similarity value: 0.9345
User #1236800, Similarity value: 0.9345
User #1131874, Similarity value: 0.9343
User #1205362, Similarity value: 0.9339
User #1121166, Similarity value: 0.9337
User #1151467, Similarity value: 0.9332
User #1004989, Similarity value: 0.9331
User #1233753, Similarity value: 0.9322
User #1239737, Similarity value: 0.9320
User #1151478, Similarity value: 0.9315
User #1069293, Similarity value: 0.9308
User #1139452, Similarity value: 0.9308
User #1092691, Similarity value: 0.9305
User #1186005, Similarity value: 0.9303
User #1020286, Similarity value: 0.9286
User #1003882, Similarity value: 0.9280
User #1246451, Similarity value: 0.9273
User #1181429, Similarity value: 0.9266
User #1010388, Similarity value: 0.9252
User #1022208, Similarity value: 0.9248
User #1239592, Similarity value: 0.9246
User #1019708, Similarity value: 0.9240
User #1187023, Similarity value: 0.9240
User #1090075, Similarity value: 0.9234
User #1015324, Similarity value: 0.9229
User #1078325, Similarity value: 0.9225
User #1136393, Similarity value: 0.9225
User #1328470, Similarity value: 0.9220
User #1127484, Similarity value: 0.9207
User #1366731, Similarity value: 0.9202
User #1265507, Similarity value: 0.9198
User #1175833, Similarity value: 0.9198
User #1231019, Similarity value: 0.9196
User #1306107, Similarity value: 0.9196
User #1004370, Similarity value: 0.9192
User #1219604, Similarity value: 0.9184
User #1061093, Similarity value: 0.9177
User #1007735, Similarity value: 0.9164
User #1172697, Similarity value: 0.9161
User #1253625, Similarity value: 0.9159
User #1362628, Similarity value: 0.9158
User #1159296, Similarity value: 0.9154
User #1011888, Similarity value: 0.9151
User #1371246, Similarity value: 0.9144
User #1360977, Similarity value: 0.9136
User #1232354, Similarity value: 0.9135
User #1296841, Similarity value: 0.9130
User #1248156, Similarity value: 0.9129
User #1329109, Similarity value: 0.9127
User #1260218, Similarity value: 0.9120
User #1295261, Similarity value: 0.9119
User #1244948, Similarity value: 0.9118
User #1333660, Similarity value: 0.9117
User #380834, Similarity value: 0.9114
User #1165171, Similarity value: 0.9114
User #1179658, Similarity value: 0.9114
User #1121544, Similarity value: 0.9113
User #1297285, Similarity value: 0.9112
User #1008207, Similarity value: 0.9110
User #1124406, Similarity value: 0.9109
User #1121641, Similarity value: 0.9108
User #1183289, Similarity value: 0.9107
User #1189061, Similarity value: 0.9100
User #1200898, Similarity value: 0.9098
User #1016617, Similarity value: 0.9095
User #1086043, Similarity value: 0.9088
User #1208923, Similarity value: 0.9084
User #386062, Similarity value: 0.9084
User #1176871, Similarity value: 0.9084
User #1014066, Similarity value: 0.9083
User #1239740, Similarity value: 0.9081
User #1247062, Similarity value: 0.9076
User #1154294, Similarity value: 0.9072
User #1192779, Similarity value: 0.9071
User #1308947, Similarity value: 0.9070
User #1257802, Similarity value: 0.9070
User #1262518, Similarity value: 0.9069
User #1100072, Similarity value: 0.9065
User #1213920, Similarity value: 0.9065
User #1242294, Similarity value: 0.9064
User #1056854, Similarity value: 0.9056
User #913993, Similarity value: 0.9053
User #1272026, Similarity value: 0.9050
User #1111536, Similarity value: 0.9048
User #1243390, Similarity value: 0.9047
User #1255111, Similarity value: 0.9046
User #1244284, Similarity value: 0.9045
User #1114634, Similarity value: 0.9044
User #1018621, Similarity value: 0.9044
User #1209016, Similarity value: 0.9043
User #1094241, Similarity value: 0.9037
User #1009194, Similarity value: 0.9035
User #1190206, Similarity value: 0.9034
User #1374705, Similarity value: 0.9032
User #1001357, Similarity value: 0.9032
User #1349750, Similarity value: 0.9032
User #1006453, Similarity value: 0.9030
User #1218151, Similarity value: 0.9029
User #1326411, Similarity value: 0.9020
User #1250798, Similarity value: 0.9018
User #503044, Similarity value: 0.9016
User #1378212, Similarity value: 0.9013
User #1302252, Similarity value: 0.9011
User #1382367, Similarity value: 0.9010
User #1071861, Similarity value: 0.9003
User #1132901, Similarity value: 0.9003
User #1213812, Similarity value: 0.8999
User #1173707, Similarity value: 0.8994
User #1217475, Similarity value: 0.8991
User #1252964, Similarity value: 0.8990
User #1121243, Similarity value: 0.8990
User #1005061, Similarity value: 0.8989
User #1293365, Similarity value: 0.8988
User #1020908, Similarity value: 0.8985
User #1102711, Similarity value: 0.8984
User #1382663, Similarity value: 0.8983
User #1189141, Similarity value: 0.8982
User #1247148, Similarity value: 0.8974
User #180230, Similarity value: 0.8972
User #1135589, Similarity value: 0.8971
User #1050652, Similarity value: 0.8967
User #63111, Similarity value: 0.8966
User #1335435, Similarity value: 0.8966
User #1134403, Similarity value: 0.8963
User #1233989, Similarity value: 0.8963
User #877525, Similarity value: 0.8957
User #1056546, Similarity value: 0.8952
User #1375668, Similarity value: 0.8952
User #1343961, Similarity value: 0.8951
User #1014153, Similarity value: 0.8948
User #1004816, Similarity value: 0.8942
User #1242800, Similarity value: 0.8941
User #1117730, Similarity value: 0.8939
User #1019458, Similarity value: 0.8939
User #1328932, Similarity value: 0.8935
User #1131832, Similarity value: 0.8934
User #1092915, Similarity value: 0.8928
User #1251135, Similarity value: 0.8928
User #1139034, Similarity value: 0.8925
User #1243302, Similarity value: 0.8924
User #1018268, Similarity value: 0.8920
User #1257568, Similarity value: 0.8919
User #1352964, Similarity value: 0.8916
User #1128189, Similarity value: 0.8916
User #1376606, Similarity value: 0.8912
User #1143625, Similarity value: 0.8911
User #1138257, Similarity value: 0.8909
User #1332062, Similarity value: 0.8907
User #1394726, Similarity value: 0.8905
User #1061719, Similarity value: 0.8891
User #1242644, Similarity value: 0.8889
User #1259737, Similarity value: 0.8889
User #1247981, Similarity value: 0.8887
User #1238757, Similarity value: 0.8886
User #1220472, Similarity value: 0.8879
User #1251170, Similarity value: 0.8869
User #1006056, Similarity value: 0.8860
User #1266667, Similarity value: 0.8854
User #1233357, Similarity value: 0.8849
User #1243017, Similarity value: 0.8848
User #1021170, Similarity value: 0.8846
User #1386024, Similarity value: 0.8842
User #1400280, Similarity value: 0.8840
User #1111764, Similarity value: 0.8838
User #1131973, Similarity value: 0.8822
User #1071387, Similarity value: 0.8821
User #1294692, Similarity value: 0.8813
User #1045981, Similarity value: 0.8810
User #1331370, Similarity value: 0.8805
User #1005982, Similarity value: 0.8801
User #1251841, Similarity value: 0.8801
User #1326213, Similarity value: 0.8796
User #1004266, Similarity value: 0.8794
User #1035939, Similarity value: 0.8791
User #1058855, Similarity value: 0.8787
User #1131915, Similarity value: 0.8784
User #1119199, Similarity value: 0.8781
User #1391548, Similarity value: 0.8779
User #1376103, Similarity value: 0.8778
User #1267494, Similarity value: 0.8776
User #919198, Similarity value: 0.8774
User #1005483, Similarity value: 0.8773
User #1175261, Similarity value: 0.8769
User #487101, Similarity value: 0.8769
User #1399669, Similarity value: 0.8764
User #1334413, Similarity value: 0.8764
User #1388831, Similarity value: 0.8760
User #1018893, Similarity value: 0.8759
User #987692, Similarity value: 0.8752
User #1335318, Similarity value: 0.8751
User #1357943, Similarity value: 0.8741
User #1261496, Similarity value: 0.8741
User #1013269, Similarity value: 0.8729
User #1263484, Similarity value: 0.8728
User #1385741, Similarity value: 0.8728
User #1248431, Similarity value: 0.8728
User #1233615, Similarity value: 0.8728
User #1246144, Similarity value: 0.8709
User #1401067, Similarity value: 0.8708
User #1338656, Similarity value: 0.8704
User #1252527, Similarity value: 0.8704
User #1241469, Similarity value: 0.8703
User #1308623, Similarity value: 0.8703
User #1405721, Similarity value: 0.8703
User #1382437, Similarity value: 0.8701
User #1231104, Similarity value: 0.8700
User #1177720, Similarity value: 0.8696
User #1243354, Similarity value: 0.8684
User #1011631, Similarity value: 0.8683
User #1064527, Similarity value: 0.8682
User #1251623, Similarity value: 0.8679
User #1119763, Similarity value: 0.8678
User #1234935, Similarity value: 0.8673
User #1370691, Similarity value: 0.8672
User #1248940, Similarity value: 0.8671
User #1026299, Similarity value: 0.8670
User #1264073, Similarity value: 0.8666
User #1139867, Similarity value: 0.8666
User #1209659, Similarity value: 0.8649
User #1291498, Similarity value: 0.8647
User #1140104, Similarity value: 0.8646
User #1012617, Similarity value: 0.8640
User #1200060, Similarity value: 0.8638
User #1047525, Similarity value: 0.8637
User #1375680, Similarity value: 0.8628
User #1047789, Similarity value: 0.8627
User #1223326, Similarity value: 0.8620
User #1125124, Similarity value: 0.8617
User #1330314, Similarity value: 0.8616
User #1406162, Similarity value: 0.8616
User #1250715, Similarity value: 0.8603
User #1398561, Similarity value: 0.8600
User #1007540, Similarity value: 0.8599
User #1355157, Similarity value: 0.8599
User #1002324, Similarity value: 0.8596
User #1425804, Similarity value: 0.8587
User #1179946, Similarity value: 0.8584
User #1380863, Similarity value: 0.8574
User #1033449, Similarity value: 0.8570
User #1240227, Similarity value: 0.8565
User #1133931, Similarity value: 0.8564
User #1251793, Similarity value: 0.8557
User #1369186, Similarity value: 0.8554
User #1153297, Similarity value: 0.8551
User #1429467, Similarity value: 0.8542
User #1435969, Similarity value: 0.8538
User #1438630, Similarity value: 0.8537
User #1147928, Similarity value: 0.8537
User #1253826, Similarity value: 0.8533
User #1004316, Similarity value: 0.8529
User #1157595, Similarity value: 0.8525
User #1115271, Similarity value: 0.8520
User #1322772, Similarity value: 0.8516
User #1199027, Similarity value: 0.8515
User #1268193, Similarity value: 0.8515
User #1139228, Similarity value: 0.8503
User #1456610, Similarity value: 0.8493
User #1019532, Similarity value: 0.8490
User #1296101, Similarity value: 0.8487
User #1135632, Similarity value: 0.8485
User #120751, Similarity value: 0.8482
User #1245378, Similarity value: 0.8477
User #1002284, Similarity value: 0.8475
User #1021918, Similarity value: 0.8468
User #1150594, Similarity value: 0.8466
User #1009335, Similarity value: 0.8464
User #1133603, Similarity value: 0.8461
User #1243196, Similarity value: 0.8459
User #1003439, Similarity value: 0.8454
User #1305606, Similarity value: 0.8453
User #1230120, Similarity value: 0.8451
User #1287374, Similarity value: 0.8449
User #1426166, Similarity value: 0.8447
User #1242196, Similarity value: 0.8446
User #1374420, Similarity value: 0.8442
User #1121952, Similarity value: 0.8438
User #1300372, Similarity value: 0.8422
User #1008573, Similarity value: 0.8420
User #1499656, Similarity value: 0.8419
User #1376178, Similarity value: 0.8405
User #1005541, Similarity value: 0.8404
User #1226921, Similarity value: 0.8402
User #1327444, Similarity value: 0.8401
User #1457132, Similarity value: 0.8399
User #1466503, Similarity value: 0.8394
User #1126083, Similarity value: 0.8393
User #1378679, Similarity value: 0.8392
User #1466274, Similarity value: 0.8391
User #1173298, Similarity value: 0.8387
User #1017393, Similarity value: 0.8385
User #758500, Similarity value: 0.8381
User #1165246, Similarity value: 0.8380
User #1253164, Similarity value: 0.8378
User #1385099, Similarity value: 0.8374
User #1217185, Similarity value: 0.8365
User #1061720, Similarity value: 0.8361
User #1260745, Similarity value: 0.8360
User #1388881, Similarity value: 0.8345
User #1403578, Similarity value: 0.8337
User #1022759, Similarity value: 0.8335
User #1405291, Similarity value: 0.8334
User #1330097, Similarity value: 0.8332
User #1511285, Similarity value: 0.8331
User #1395998, Similarity value: 0.8330
User #1008654, Similarity value: 0.8327
User #1001071, Similarity value: 0.8326
User #1510965, Similarity value: 0.8325
User #1384622, Similarity value: 0.8324
User #936023, Similarity value: 0.8323
User #1321246, Similarity value: 0.8321
User #1133077, Similarity value: 0.8321
User #1501210, Similarity value: 0.8319
User #1011257, Similarity value: 0.8317
User #1502721, Similarity value: 0.8314
User #1333616, Similarity value: 0.8308
User #1383271, Similarity value: 0.8305
User #1060523, Similarity value: 0.8303
User #1128389, Similarity value: 0.8301
User #1018504, Similarity value: 0.8300
User #1249474, Similarity value: 0.8295
User #1086902, Similarity value: 0.8291
User #1014623, Similarity value: 0.8291
User #1136301, Similarity value: 0.8291
User #1028483, Similarity value: 0.8291
User #1066334, Similarity value: 0.8289
User #1222119, Similarity value: 0.8289
User #1244190, Similarity value: 0.8280
User #1442421, Similarity value: 0.8276
User #1202103, Similarity value: 0.8272
User #1402201, Similarity value: 0.8266
User #1234214, Similarity value: 0.8264
User #1114379, Similarity value: 0.8259
User #1064163, Similarity value: 0.8255
User #1495629, Similarity value: 0.8255
User #1364448, Similarity value: 0.8247
User #1025017, Similarity value: 0.8238
User #1000667, Similarity value: 0.8238
User #1095546, Similarity value: 0.8233
User #1515973, Similarity value: 0.8232
User #891259, Similarity value: 0.8226
User #1335729, Similarity value: 0.8225
User #1351081, Similarity value: 0.8225
User #1055744, Similarity value: 0.8223
User #1354155, Similarity value: 0.8223
User #1302062, Similarity value: 0.8223
User #1262969, Similarity value: 0.8215
User #1007162, Similarity value: 0.8215
User #1070478, Similarity value: 0.8211
User #1023660, Similarity value: 0.8210
User #873388, Similarity value: 0.8205
User #1264227, Similarity value: 0.8201
User #1478020, Similarity value: 0.8200
User #1240220, Similarity value: 0.8197
User #1014272, Similarity value: 0.8196
User #1123030, Similarity value: 0.8196
User #1003800, Similarity value: 0.8195
User #1118684, Similarity value: 0.8194
User #1087441, Similarity value: 0.8187
User #1055429, Similarity value: 0.8182
User #1018527, Similarity value: 0.8182
User #1359600, Similarity value: 0.8180
User #1139286, Similarity value: 0.8177
User #1121716, Similarity value: 0.8165
User #1079097, Similarity value: 0.8158
User #1072973, Similarity value: 0.8157
User #1258032, Similarity value: 0.8155
User #1467056, Similarity value: 0.8154

In [53]:
similar_values

[0.9974713418210063,
 0.9970803264303494,
 0.9964939168217612,
 0.9913608997436022,
 0.9889558416692548,
 0.9872700170910649,
 0.9869664331878374,
 0.9866982290670361,
 0.985766728213489,
 0.9847703547646147,
 0.9823130548740654,
 0.9815878753206905,
 0.9796734734897478,
 0.9795754822449029,
 0.9791583374321177,
 0.9787130486929998,
 0.9765175724540842,
 0.9761915471079355,
 0.9760245349328922,
 0.9747397908368387,
 0.974283509641199,
 0.9730190587491392,
 0.9721788729230904,
 0.9718464453363017,
 0.9716999507062509,
 0.9715303584692383,
 0.9707903996810798,
 0.9705567391792034,
 0.9705163987095109,
 0.9699088269887873,
 0.9697117192387363,
 0.9696909073000195,
 0.9691452095827415,
 0.9687692056244825,
 0.9681921645077269,
 0.9679804057320821,
 0.9672897917950228,
 0.9669392591555335,
 0.9667137041597693,
 0.9652323028604937,
 0.9648194899863741,
 0.964677640664761,
 0.9639626241164803,
 0.9631918294645918,
 0.9631260303881489,
 0.9630246790133132,
 0.9627685616412138,
 0.9625768226550637,
 0.9624844611527033,
 0.9623658635160175,
 0.9621968516680899,
 0.9621799845705743,
 0.962146055104,
 0.9617659159343752,
 0.9616030675269334,
 0.9615385401093167,
 0.9611607093383927,
 0.9606847973862724,
 0.9606623888984729,
 0.9605619689637594,
 0.9590214249446534,
 0.9587578770850183,
 0.9587137416551235,
 0.9577146198686342,
 0.9572313004901727,
 0.9571060717074784,
 0.9568447081436229,
 0.9565555674309872,
 0.956250235334283,
 0.9559478040904055,
 0.9555701384982112,
 0.9552293695188505,
 0.9548285298045337,
 0.9546829251774852,
 0.9537974433001017,
 0.953212200244183,
 0.9531512422582393,
 0.9529481151035541,
 0.9523697743648214,
 0.9523001923270024,
 0.9521801847743929,
 0.9518626204205699,
 0.9517434735866945,
 0.951185600300255,
 0.9511643302700352,
 0.9507915903944513,
 0.9501233646431262,
 0.9496089678602784,
 0.9494222689597216,
 0.9488449562806017,
 0.9486941637564716,
 0.9486370009192138,
 0.9485203746099179,
 0.9482049657303135,
 0.9480942522590264,
 0.9478618911460551,
 0.9472491575835676,
 0.946736037077899,
 0.946279488418835,
 0.9462426909781259,
 0.946002557676912,
 0.9459738592343346,
 0.9456655895234434,
 0.9454797915962995,
 0.9451574494832847,
 0.9450093722439008,
 0.9445442293311692,
 0.9441053145494722,
 0.94387647198468,
 0.9436036932031069,
 0.9431740817895156,
 0.942745040329713,
 0.9419421841462117,
 0.9413593978028292,
 0.9408543109149261,
 0.9405885504300309,
 0.9401826881432395,
 0.9396513162544327,
 0.9391561016834844,
 0.9381588486282111,
 0.9381084234149621,
 0.9374314315055509,
 0.9374065526884399,
 0.9373148017227217,
 0.9366967148652325,
 0.9365510374968622,
 0.9360313132985592,
 0.9356872244185543,
 0.9355535292452477,
 0.9352815802906054,
 0.9351912747806626,
 0.9346190907432759,
 0.9345815452222765,
 0.9345166435369823,
 0.9345116556758846,
 0.9343331321754,
 0.9338544216347483,
 0.9336816539274806,
 0.9331640350239552,
 0.9330866983419175,
 0.9321993248396941,
 0.9319817255512474,
 0.9315168771352602,
 0.930845148698818,
 0.9307812937422105,
 0.9305061836165163,
 0.9303098723078191,
 0.9286234867355208,
 0.9280157158762627,
 0.927250427371614,
 0.9266355235280581,
 0.9252032000164337,
 0.9248118534183463,
 0.9245589203058544,
 0.9240419875335109,
 0.9239601986996167,
 0.9233568791186668,
 0.9229369536732722,
 0.9224620787323947,
 0.9224524747009373,
 0.9219609470913671,
 0.9206674798965826,
 0.9202190704780749,
 0.9198304732214778,
 0.9197559705929987,
 0.919578672356518,
 0.9195710899025988,
 0.9192378516580098,
 0.9183793252413278,
 0.917672687705614,
 0.9163696328953477,
 0.9161388331736375,
 0.915878312837658,
 0.9158054733420946,
 0.9154117632545551,
 0.915067137301909,
 0.9144046964984185,
 0.9136272032520911,
 0.9134636224159336,
 0.9129760619780891,
 0.912899339430029,
 0.9126691467727015,
 0.912021259182803,
 0.9118916205257165,
 0.9118298673724499,
 0.9116544475820979,
 0.9114215680924214,
 0.9113940930160969,
 0.9113858866863082,
 0.9113159737074599,
 0.9112393222447538,
 0.9110457659728721,
 0.9108599737882449,
 0.9108426265001586,
 0.9107422190079598,
 0.9099614042261428,
 0.9098076229625601,
 0.9095105844017334,
 0.9087854602424228,
 0.9084447174207535,
 0.9084246874201465,
 0.9083695467507513,
 0.9083338423570552,
 0.9081198946260025,
 0.9075977075307737,
 0.9071580545157595,
 0.9070836210708535,
 0.906979957356086,
 0.9069673234852859,
 0.9068882275955533,
 0.9065152589854365,
 0.9064515891744831,
 0.9063616184536671,
 0.9056446441522537,
 0.9052869193307959,
 0.9049506148862647,
 0.9048205709763643,
 0.904736311046741,
 0.9046155948283912,
 0.9044549013275018,
 0.9044431575108479,
 0.9044168983870026,
 0.904301299332932,
 0.9036557693344895,
 0.9034541148139744,
 0.9033563177715123,
 0.9032496769542164,
 0.9032392642975146,
 0.9031666843519868,
 0.9029797647158722,
 0.9029442915207255,
 0.9020472791138601,
 0.9018406990090757,
 0.9015563229565771,
 0.9013366211852918,
 0.9011406363432453,
 0.9009800554107446,
 0.9003406537863767,
 0.9003116439484915,
 0.8998638067797842,
 0.8994232768284982,
 0.8991178110784107,
 0.89898758590857,
 0.898985341769969,
 0.8989029542538647,
 0.8988178752970778,
 0.8985045398428769,
 0.8983956980375909,
 0.8982983313229266,
 0.8982265273467972,
 0.8974158560216052,
 0.8972427269280405,
 0.8971135971338733,
 0.8967058233358771,
 0.896618840008106,
 0.8965996711481187,
 0.8962665912444685,
 0.8962611336159975,
 0.8957426685452017,
 0.895241546688639,
 0.8951575386978942,
 0.8950570165271936,
 0.8947714083819466,
 0.8941886324392064,
 0.8941367655097441,
 0.8939340482473805,
 0.89392090795174,
 0.8934631813823724,
 0.8934111546099146,
 0.892817521882625,
 0.8927668804859001,
 0.8924555829667389,
 0.8923951272258038,
 0.8920499596568128,
 0.8919225986420487,
 0.8915833978227382,
 0.8915580018268994,
 0.8911737187439408,
 0.8911398901872187,
 0.890924555521726,
 0.8906602734329576,
 0.8905456377034825,
 0.8891018245794674,
 0.8889396207114029,
 0.888853590135696,
 0.8886606867655259,
 0.8885638224472132,
 0.8878826009557979,
 0.8869236761704185,
 0.8860345128084779,
 0.8853740691066538,
 0.8848656490628732,
 0.8847792224825894,
 0.884634986476238,
 0.8842239331000413,
 0.8840439840611666,
 0.8838248238433146,
 0.8821940179292178,
 0.8820875390287397,
 0.8813150994238412,
 0.8809723371132328,
 0.8804754302823613,
 0.8801174332243848,
 0.8800534804008149,
 0.8795551749626873,
 0.8794185769778804,
 0.879097193233306,
 0.8786780578207876,
 0.8784407588684628,
 0.8780923742448254,
 0.8778797305987643,
 0.8778247479064756,
 0.8775898140449832,
 0.8773971357545229,
 0.8773242033774136,
 0.8768924524179846,
 0.8768789393385337,
 0.8764468527975382,
 0.8764024401364183,
 0.8760425278397942,
 0.8759166452424348,
 0.875194927666537,
 0.8750517296172114,
 0.874131385168634,
 0.8741313712081409,
 0.8728982026028994,
 0.8728435203703522,
 0.8727745248344712,
 0.8727717214568629,
 0.8727533073657054,
 0.8709097849090629,
 0.8708135807485877,
 0.8703892162591861,
 0.8703568087203303,
 0.8703182457907935,
 0.8703173425470182,
 0.8702896024678356,
 0.87006627060661,
 0.8699701865888796,
 0.8696029842077078,
 0.8684325568694744,
 0.868272188197882,
 0.8681897929171898,
 0.867881418923488,
 0.867782829365664,
 0.8672596478021547,
 0.8672167849791059,
 0.8670669222295657,
 0.8670495548387243,
 0.866622051135779,
 0.8665512558687398,
 0.8649170574696287,
 0.8646880341649003,
 0.8645851597113928,
 0.8640305817770166,
 0.8637946677214696,
 0.8636612836861726,
 0.8628484486406895,
 0.8626777001044408,
 0.8619955492758943,
 0.8617395014612557,
 0.8616210378038098,
 0.8615854977769584,
 0.8603061538202824,
 0.860009428544301,
 0.8599393311493133,
 0.859925815138217,
 0.8595738754057904,
 0.8586660328162342,
 0.8584147642697666,
 0.8573730615404032,
 0.8570280619626787,
 0.8565092700149161,
 0.8563818140207528,
 0.8557357539081174,
 0.8554237868291653,
 0.855133421915319,
 0.8541570142504371,
 0.8538210198659395,
 0.853696048213068,
 0.8536909541837947,
 0.8533455743832228,
 0.8529390816227398,
 0.8524511466100603,
 0.8520118850245804,
 0.8515551786183784,
 0.8515429926444771,
 0.8515157249625696,
 0.8502802601091523,
 0.8492640805286754,
 0.8490182396649106,
 0.8486568424189121,
 0.8484748322340059,
 0.8482052716684105,
 0.8476993378323818,
 0.8475178106385826,
 0.8467924289703693,
 0.8465763914325493,
 0.8464197364241857,
 0.8460561673713257,
 0.8458695244508125,
 0.8454298089915475,
 0.845328524482885,
 0.8451393630231077,
 0.8449157670077376,
 0.8446651939233797,
 0.844640248262908,
 0.8442264828885001,
 0.8438383982551614,
 0.8422013793247213,
 0.8420271343435125,
 0.8418934021795883,
 0.8404599546088439,
 0.8404382139561007,
 0.8401940112377864,
 0.8400706857065312,
 0.8399455943644136,
 0.8393712335910226,
 0.8393001897511685,
 0.8391525590215634,
 0.8390903082522,
 0.8386726040254107,
 0.8385065327958318,
 0.8381404300345598,
 0.8379619286213633,
 0.8377825784607802,
 0.837358711901421,
 0.8364737101822466,
 0.8360943931552915,
 0.8359774998259484,
 0.8345092590620596,
 0.8337183269508255,
 0.8334771830414339,
 0.8333597500252606,
 0.8331715030340647,
 0.8331140623038613,
 0.8329541706031299,
 0.8327460761828264,
 0.8326214875219504,
 0.832509836911292,
 0.8324049101915506,
 0.8322821934355882,
 0.8320656737604081,
 0.8320500706105018,
 0.8319127119746265,
 0.8316809530289213,
 0.8313679876198511,
 0.8307869119089286,
 0.8305049608599425,
 0.8302811212413326,
 0.8301155818917467,
 0.8300285602825054,
 0.8295080520407153,
 0.8291359357009188,
 0.8291200309452158,
 0.8290846624017055,
 0.8290802397437226,
 0.828868214199477,
 0.828862698922854,
 0.8280034731783033,
 0.8275653174874149,
 0.8271957163887218,
 0.8266053913954475,
 0.8264197584792358,
 0.8258851795502397,
 0.8255363826208277,
 0.8254775632466768,
 0.8246547662223584,
 0.823848768767206,
 0.8237579751306425,
 0.8232965860897419,
 0.8231874542333635,
 0.8226114651112123,
 0.8224539487983276,
 0.8224500329451163,
 0.8223297496858968,
 0.8223283727548076,
 0.8222681500022612,
 0.8215210942831551,
 0.8215182024580558,
 0.8210828313783503,
 0.8209864366416606,
 0.8204664519245402,
 0.8200556231695065,
 0.8200034948035331,
 0.8197140257505279,
 0.8195920367947516,
 0.8195820338677211,
 0.8194736261965522,
 0.8194092577588492,
 0.818665827778549,
 0.8182493927675307,
 0.8182129535926189,
 0.8180122291715356,
 0.8177476720670505,
 0.8164800384824281,
 0.8157589813273396,
 0.8156871819171041,
 0.8155290001128976,
 0.8154021071591249,
 0.8153588125516361,
 0.8153484319354992,
 0.8152502427286873,
 0.8150485491460833,
 0.81485455235911,
 0.8148324615672284,
 0.8146286217201149,
 0.8145255976773131,
 0.8139398489400804,
 0.8135364884376864,
 0.8123297624376571,
 0.8122376160609683,
 0.8121930682092608,
 0.8119833931496164,
 0.8116354260899148,
 0.8108794272286133,
 0.8106928142108493,
 0.8104233317142314,
 0.8102903240756337,
 0.8097391394117198,
 0.8094023200583648,
 0.8086938812482094,
 0.8082694139518007,
 0.8077298250073,
 0.8070572724909675,
 0.8070338560493423,
 0.8067728629896636,
 0.8064663009042305,
 0.805871048827167,
 0.8057906280230336,
 0.805607291996844,
 0.8054836176510084,
 0.805112923709202,
 0.804920841267503,
 0.8042145629498261,
 0.8039899554657721,
 0.8036663247405622,
 0.8032099524351358,
 0.8029314347416991,
 0.8028858624473987,
 0.8026938169552106,
 0.8026145928295676,
 0.8025542789825248,
 0.8018129131030234,
 0.8014400830888211,
 0.8007001602364284,
 0.8006903322893242,
 0.8003027503097284,
 0.8002473208337233,
 0.7983807003701927,
 0.7982298927031845,
 0.7978636221341646,
 0.7975045406859005,
 0.7974145437433529,
 0.7970672693420073,
 0.7970009053153423,
 0.7962752489530556,
 0.7961057534315169,
 0.7948367918111141,
 0.7946831333067388,
 0.794638234863694,
 0.7942838050005623,
 0.7937376559074146,
 0.793514109674008,
 0.7933426349715993,
 0.7932991795675088,
 0.7932044354454834,
 0.7931986545121459,
 0.7931628601141449,
 0.7929526562849918,
 0.7927238751140563,
 0.7926639494532767,
 0.7924884212560206,
 0.7923632543190652,
 0.7918305639744426,
 0.7917940097454644,
 0.791778580970702,
 0.7916778327644163,
 0.7916121806006458,
 0.7914496626176601,
 0.7913286131387159,
 0.7911946775929767,
 0.7907544548391098,
 0.7902079249513294,
 0.7897853922567831,
 0.7894954758984258,
 0.7889668357678743,
 0.7882212775960789,
 0.7881784143086202,
 0.7877428885544855,
 0.7877206793712691,
 0.7875668410176309,
 0.7872379068110709,
 0.7871587188320602,
 0.7870286692461441,
 0.7868491816620893,
 0.7867150572352856,
 0.7859155693891168,
 0.7857483822328882,
 0.7856982495415976,
 0.785573814181639,
 0.7850597068889359,
 0.7849644007597865,
 0.784609481629212,
 0.7843576087655505,
 0.7841535405672966,
 0.7838329101315389,
 0.7836863533888206,
 0.783501503944505,
 0.7833071087530501,
 0.7832074103294696,
 0.7828669325919504,
 0.7828198876377288,
 0.782725875310012,
 0.7825209220292955,
 0.7819920624572239,
 0.7819877520617737,
 0.7818906412049388,
 0.7811080418013245,
 0.7803285895376333,
 0.7801701982706708,
 0.780090901145419,
 0.7791467200704993,
 0.7789778913486967,
 0.7789195797037443,
 0.7786812327040742,
 0.7786186465873992,
 0.7783616203044426,
 0.7783400061851344,
 0.7779874316076288,
 0.7774758211383297,
 0.7771304781206445,
 0.777061646056197,
 0.776989564311042,
 0.7767705156590986,
 0.7766873490501621,
 0.776485518143204,
 0.7763547892659448,
 0.7762439336456821,
 0.7758556719638688,
 0.7757774716864186,
 0.7755638546912957,
 0.7755417657764373,
 0.7754738556606617,
 0.7754494464649846,
 0.7750164343996986,
 0.7749695754479159,
 0.774328236645881,
 0.7741004795048091,
 0.7739979886165362,
 0.7733952838891525,
 0.7731244143586595,
 0.7730898348083362,
 0.7728632996522278,
 0.7727877246987822,
 0.772399314728284,
 0.7718765217855232,
 0.7716451308470293,
 0.7716405265601165,
 0.7714595663201225,
 0.7710668916362338,
 0.7710632547272119,
 0.7710629046153834,
 0.7709005312244082,
 0.7707125688117543,
 0.7695781129193136,
 0.7688024609635884,
 0.768101109778344,
 0.7679520369656045,
 0.7677585344804788,
 0.7676350625486827,
 0.7672113307254204,
 0.7661916260825827,
 0.7661728436226858,
 0.7659569165942729,
 0.765875810239595,
 0.7657867523045181,
 0.7652125031098123,
 0.7647433928276186,
 0.7642680324598792,
 0.7637167798523206,
 0.7633513911558117,
 0.7633398574595661,
 0.7627156568929498,
 0.7623220764745087,
 0.7621634075628029,
 0.7621056708136562,
 0.7618877770837043,
 0.7616488395825036,
 0.7610380871252891,
 0.7609309925111694,
 0.760802614196781,
 0.760640837426002,
 0.7604586743535988,
 0.7603875302017757,
 0.7600623285920505,
 0.7600079948981127,
 0.7599421361149452,
 0.7598684276074086,
 0.759775486940911,
 0.7596741695802907,
 0.7593596202000796,
 0.759149583518676,
 0.7589796506770802,
 0.7588242166326375,
 0.758619486024524,
 0.7583952093499284,
 0.7583138111006242,
 0.7579606545165661,
 0.7577170034177603,
 0.7572873178363538,
 0.7571658639664386,
 0.7570242604925473,
 0.7568035842575886,
 0.7563743232733033,
 0.7563709643136387,
 0.7563261681400969,
 0.7560435377061299,
 0.7557752697284383,
 0.7556866276249572,
 0.7556367237480899,
 0.7555475535063338,
 0.7554566526192397,
 0.7548991272757211,
 0.7548125487215287,
 0.7546579287781794,
 0.7546323798990309,
 0.7545067607025064,
 0.7542243241021993,
 0.7534778140009442,
 0.7533262384674233,
 0.753245241097105,
 0.7531168674297519,
 0.7529239770881655,
 0.7524914368364988,
 0.7523845230501771,
 0.7515162577814625,
 0.7511028529200772,
 0.7509536849532866,
 0.7506440320230691,
 0.7500113201527385,
 0.7497957694878816,
 0.7497378611857838,
 0.748895246144477,
 0.7488705384775018,
 0.7488315294665695,
 0.7487084003059984,
 0.7485014730915166,
 0.7482100361094124,
 0.7480108681590457,
 0.7479179321794922,
 0.7478930755344588,
 0.7478914350924016,
 0.7474863743198974,
 0.7467459134874253,
 0.7466802283900476,
 0.7463223554540925,
 0.7462712709101409,
 0.7462606171100481,
 0.7462222635272583,
 0.7459528533484665,
 0.7459190798387172,
 0.7457342799481018,
 0.7457127115670433,
 0.7455181372218456,
 0.7453077544855,
 0.7452872484966712,
 0.7452510805478667,
 0.7448388375455226,
 0.7448141750911014,
 0.7447884874277066,
 0.7447343389915528,
 0.7445105989704222,
 0.7444780092189696,
 0.7442666941974363,
 0.7439016407690913,
 0.7438538592776613,
 0.7430183141373621,
 0.7429913093001237,
 0.7422860596665837,
 0.7419286746331493,
 0.7412290034207654,
 0.7411926478034955,
 0.7407399776308876,
 0.7406376013918744,
 0.74030413521919,
 0.7402070808919827,
 0.7400734517208338]

In [54]:
media = np.mean(similar_values[:789])
media

0.852225248893161