In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OrdinalEncoder

import folium
import plotly.express as px

In [2]:
df=pd.read_csv("feature_eng_data.csv")

In [3]:
df.set_index('Index', inplace=True)

In [4]:
df['pk_partition'] = pd.to_datetime(df['pk_partition'])

In [5]:
df

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,em_acount,country_id,region_code,gender,age,deceased,salary,Financiacion,Ahorro,Cuentas
Index,,,,,,,,,,,,,,,,,,,,,
0,1375586,2018-01-28,2018-01-12,KHL,1.0,2,0,0,0,0,...,1,0,29.0,0,35,0,87218.10,0,0,1
1,1050611,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,1,0,13.0,1,23,0,35548.74,0,0,1
2,1050612,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,1,0,13.0,1,23,0,122179.11,0,0,1
3,1050613,2018-01-28,2015-08-10,KHD,0.0,3,1,0,0,0,...,0,0,50.0,0,22,0,119775.54,0,1,0
4,1050614,2018-01-28,2015-08-10,KHE,1.0,3,0,0,0,0,...,1,0,50.0,1,23,0,96796.23,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,50.0,1,22,0,43912.17,0,0,1
5962920,1166764,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,26.0,1,23,0,23334.99,0,0,1
5962921,1166763,2019-05-28,2016-08-14,KHE,1.0,2,0,0,0,0,...,1,0,50.0,0,47,0,96796.23,0,0,1
5962922,1166789,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,50.0,0,22,0,199592.82,0,0,1
5962923,1550586,2019-05-28,2019-05-13,KHE,1.0,3,0,0,0,0,...,1,0,28.0,0,37,0,126765.57,0,0,1

In [6]:
df['diff_productos'] = df.groupby('pk_cid')['Ahorro'].diff()

In [7]:
df['diff_productos']

Index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
5962919    0.0
5962920    0.0
5962921    0.0
5962922    0.0
5962923    NaN
Name: diff_productos, Length: 5936633, dtype: float64

In [8]:
df['compra'] = (df['diff_productos'] >= 1).astype(int)

In [9]:
df['compra'].value_counts()

compra
0    5893633
1      43000
Name: count, dtype: int64

In [11]:
df[df['Ahorro'] > 1]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,region_code,gender,age,deceased,salary,Financiacion,Ahorro,Cuentas,diff_productos,compra
Index,,,,,,,,,,,,,,,,,,,,,
742,1051788,2018-01-28,2015-08-14,KFC,1.0,2,0,0,0,0,...,37.0,1,39,0,184968.30,1,2,3,NaN,0
839,1052102,2018-01-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,2,2,NaN,0
1158,1051365,2018-01-28,2015-08-13,KFC,1.0,3,0,0,0,1,...,8.0,1,29,0,124656.36,2,3,3,NaN,0
2583,1056056,2018-01-28,2015-09-05,KFC,1.0,1,0,0,0,1,...,28.0,1,56,0,51062.61,3,2,2,NaN,0
2859,1055240,2018-01-28,2015-09-03,KAT,1.0,2,0,0,0,1,...,28.0,1,49,0,453427.35,0,2,2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5954955,1158158,2019-05-28,2016-08-06,KFC,1.0,2,0,0,0,1,...,15.0,0,48,0,108019.92,0,2,1,0.0,0
5956541,1171165,2019-05-28,2016-08-29,KFC,1.0,3,0,0,0,1,...,28.0,1,32,0,160338.78,1,2,2,0.0,0
5957646,1173075,2019-05-28,2016-09-05,KAT,1.0,1,0,0,0,1,...,28.0,1,63,0,212865.30,0,2,2,0.0,0
5958037,1173707,2019-05-28,2016-09-09,KFC,1.0,2,0,0,0,0,...,29.0,0,47,0,65204.10,0,2,2,0.0,0
5961729,1168517,2019-05-28,2016-08-22,KAT,1.0,1,0,0,0,0,...,23.0,1,42,0,41646.78,0,2,3,0.0,0

In [13]:
#Comprobamos con un pk_cid que sabemso que tiene mas de un producto y vemos que detecta las compras correctamente

df[df['pk_cid'] == 1052102]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,region_code,gender,age,deceased,salary,Financiacion,Ahorro,Cuentas,diff_productos,compra
Index,,,,,,,,,,,,,,,,,,,,,
839,1052102,2018-01-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,2,2,NaN,0
474177,1052102,2018-02-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,1,1,-1.0,0
695096,1052102,2018-03-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,1,1,0.0,0
969043,1052102,2018-04-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,1,1,0.0,0
981977,1052102,2018-05-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,2,2,1.0,1
1257658,1052102,2018-06-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,1,1,-1.0,0
1581945,1052102,2018-07-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,1,1,0.0,0
2047280,1052102,2018-08-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,1,1,0.0,0
2327249,1052102,2018-09-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,1,1,0.0,0
2671009,1052102,2018-10-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,1,1,0.0,0
3338317,1052102,2018-11-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,1,1,0.0,0
3417077,1052102,2018-12-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,1,1,0.0,0
4163528,1052102,2019-01-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,30,0,243343.77,0,1,1,0.0,0
4495189,1052102,2019-02-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,31,0,243343.77,0,1,1,0.0,0
5079896,1052102,2019-03-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,31,0,243343.77,0,1,1,0.0,0
5172651,1052102,2019-04-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,31,0,243343.77,0,1,1,0.0,0
5784325,1052102,2019-05-28,2015-08-16,KAT,1.0,3,0,0,0,0,...,28.0,0,31,0,243343.77,0,1,1,0.0,0

In [ ]:
#Llenamos los NaN del primer mes con '0' ya que no tenemos con que comparar

In [14]:
df['diff_productos'].fillna(value=0, inplace=True)

In [17]:
df.isnull().any().value_counts()

False    32
Name: count, dtype: int64

In [ ]:
#Por tanto 'compra' sera nuestro target para la predisposicion de compra de los productos "CUENTAS"