In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OrdinalEncoder

from sklearn.model_selection import train_test_split


import folium
import plotly.express as px

from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import AdaBoostClassifier
import xgboost as xgb
from sklearn.linear_model import LinearRegression

import time

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.decomposition import PCA

import scipy as sp

import os

In [2]:
PATH_FOLDER = os.path.join(os.getcwd(), "")

In [3]:
df=pd.read_csv("feature_eng_data.csv")

In [4]:
df.set_index('Index', inplace=True)

In [5]:
df['pk_partition'] = pd.to_datetime(df['pk_partition'])

In [6]:
df

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,em_acount,country_id,region_code,gender,age,deceased,salary,Financiacion,Ahorro,Cuentas
Index,,,,,,,,,,,,,,,,,,,,,
0,1375586,2018-01-28,2018-01-12,KHL,1.0,2,0,0,0,0,...,1,0,29.0,0,35,0,87218.10,0,0,1
1,1050611,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,1,0,13.0,1,23,0,35548.74,0,0,1
2,1050612,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,1,0,13.0,1,23,0,122179.11,0,0,1
3,1050613,2018-01-28,2015-08-10,KHD,0.0,3,1,0,0,0,...,0,0,50.0,0,22,0,119775.54,0,1,0
4,1050614,2018-01-28,2015-08-10,KHE,1.0,3,0,0,0,0,...,1,0,50.0,1,23,0,96796.23,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,50.0,1,22,0,43912.17,0,0,1
5962920,1166764,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,26.0,1,23,0,23334.99,0,0,1
5962921,1166763,2019-05-28,2016-08-14,KHE,1.0,2,0,0,0,0,...,1,0,50.0,0,47,0,96796.23,0,0,1
5962922,1166789,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,1,0,50.0,0,22,0,199592.82,0,0,1
5962923,1550586,2019-05-28,2019-05-13,KHE,1.0,3,0,0,0,0,...,1,0,28.0,0,37,0,126765.57,0,0,1

In [7]:
df['diff_productos'] = df.groupby('pk_cid')['Cuentas'].diff()

In [8]:
df['diff_productos']

Index
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
5962919    0.0
5962920    0.0
5962921    0.0
5962922    0.0
5962923    NaN
Name: diff_productos, Length: 5936633, dtype: float64

In [9]:
df['compra'] = (df['diff_productos'] >= 1).astype(int)

In [10]:
df['compra'].value_counts()

compra
0    5851186
1      85447
Name: count, dtype: int64

In [11]:
#Comprobamos con un pk_cid que sabemso que tiene mas de un producto y vemos que detecta las compras correctamente

df[df['pk_cid'] == 16502]

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,region_code,gender,age,deceased,salary,Financiacion,Ahorro,Cuentas,diff_productos,compra
Index,,,,,,,,,,,,,,,,,,,,,
2171490,16502,2018-09-28,2018-09-30,KHE,0.0,3,0,0,0,0,...,28.0,0,57,0,126765.57,0,0,0,NaN,0
2943633,16502,2018-10-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,1,1.0,1
2962972,16502,2018-11-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,1,0.0,0
3628237,16502,2018-12-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,1,0.0,0
4028330,16502,2019-01-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,1.0,1
4480638,16502,2019-02-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0
4876038,16502,2019-03-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0
5134320,16502,2019-04-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0
5523395,16502,2019-05-28,2018-09-30,KHN,1.0,2,0,0,0,0,...,28.0,0,58,0,126765.57,0,0,2,0.0,0

In [12]:
#Llenamos los NaN del primer mes con '0' ya que no tenemos con que comparar

In [13]:
df['diff_productos'].fillna(value=0, inplace=True)

In [14]:
#Por tanto 'compra' sera nuestro target para la predisposicion de compra de los productos "CUENTAS"

In [15]:
df['entry_date'] = pd.to_datetime(df['entry_date'])
df['pk_partition'] = pd.to_datetime(df['pk_partition'])

In [16]:
df['Antiguedad'] = (df['pk_partition'] - df['entry_date']) / pd.Timedelta(days=30)

In [17]:
df['Antiguedad'] = df['Antiguedad'].round().astype(int)

In [18]:
df['mes'] = df['pk_partition'].dt.to_period('M')

In [19]:
serie_temporal = df.groupby('mes')['compra'].sum()

In [20]:
serie_temporal

mes
2018-01       0
2018-02    3592
2018-03    3592
2018-04    3168
2018-05    3580
2018-06    3946
2018-07    3955
2018-08    6215
2018-09    5386
2018-10    7016
2018-11    6404
2018-12    6779
2019-01    5351
2019-02    7659
2019-03    6039
2019-04    6031
2019-05    6734
Freq: M, Name: compra, dtype: int32

In [21]:
serie_temporal = serie_temporal.drop(serie_temporal.index[0])

In [22]:
#Intentaremos predecir cuantos productos de CUENTAS venderemos el mes siguiente (JUNIO DE 2019)

df_regresion = serie_temporal.reset_index()
df_regresion['mes'] = df_regresion['mes'].astype(str)  # Convertimos el periodo a string para la regresión lineal

# Dividimos los datos en características (X) y la variable objetivo (y)
X = pd.to_numeric(df_regresion['mes'].str.replace('-', ''), errors='coerce').values.reshape(-1, 1)  # Convertimos el periodo a un formato numérico para la regresión lineal
y = df_regresion['compra'].values

# Entrenamos el modelo de regresión lineal
modelo = LinearRegression()
modelo.fit(X, y)

# Predecimos las compras del mes 06 del año 2019
mes_06_2019 = pd.to_numeric('2019-06'.replace('-', ''), errors='coerce').reshape(-1, 1)  # Convertimos el periodo a un formato numérico para la predicción
prediccion_mes_06_2019 = modelo.predict(mes_06_2019)

print("Predicción de compras para el mes 06 del año 2019:", prediccion_mes_06_2019[0])

Predicción de compras para el mes 06 del año 2019: 6504.497877358459

In [23]:
#Predicción de beneficios

Beneficios = prediccion_mes_06_2019[0]*10
Beneficios

#Beneficios estimados para JUNIO 2019 de cproductos de CUENTAS = 65.044 €

65044.97877358459

### Predicción de acierto del modelo

In [24]:
df

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,age,deceased,salary,Financiacion,Ahorro,Cuentas,diff_productos,compra,Antiguedad,mes
Index,,,,,,,,,,,,,,,,,,,,,
0,1375586,2018-01-28,2018-01-12,KHL,1.0,2,0,0,0,0,...,35,0,87218.10,0,0,1,0.0,0,1,2018-01
1,1050611,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,23,0,35548.74,0,0,1,0.0,0,30,2018-01
2,1050612,2018-01-28,2015-08-10,KHE,0.0,3,0,0,0,0,...,23,0,122179.11,0,0,1,0.0,0,30,2018-01
3,1050613,2018-01-28,2015-08-10,KHD,0.0,3,1,0,0,0,...,22,0,119775.54,0,1,0,0.0,0,30,2018-01
4,1050614,2018-01-28,2015-08-10,KHE,1.0,3,0,0,0,0,...,23,0,96796.23,0,0,1,0.0,0,30,2018-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,22,0,43912.17,0,0,1,0.0,0,34,2019-05
5962920,1166764,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,23,0,23334.99,0,0,1,0.0,0,34,2019-05
5962921,1166763,2019-05-28,2016-08-14,KHE,1.0,2,0,0,0,0,...,47,0,96796.23,0,0,1,0.0,0,34,2019-05
5962922,1166789,2019-05-28,2016-08-14,KHE,0.0,3,0,0,0,0,...,22,0,199592.82,0,0,1,0.0,0,34,2019-05
5962923,1550586,2019-05-28,2019-05-13,KHE,1.0,3,0,0,0,0,...,37,0,126765.57,0,0,1,0.0,0,0,2019-05

In [25]:
df = df.drop(['entry_date','deceased','diff_productos'], axis=1)

In [26]:
df= pd.get_dummies(df, columns=['entry_channel'], drop_first=True)

In [27]:
#Generamos una copia para despues en el recomendador

df_rc2 = df.copy()

In [28]:
df = df.drop(['pk_cid','pk_partition'], axis = 1)

In [29]:
X = df.drop('compra', axis=1)  # Features
y = df['compra']  # Target

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
print("Tamaño del conjunto de entrenamiento (X):", X_train.shape)
print("Tamaño del conjunto de prueba (X):", X_test.shape)
print("Tamaño del conjunto de entrenamiento (y):", y_train.shape)
print("Tamaño del conjunto de prueba (y):", y_test.shape)

Tamaño del conjunto de entrenamiento (X): (4749306, 39)
Tamaño del conjunto de prueba (X): (1187327, 39)
Tamaño del conjunto de entrenamiento (y): (4749306,)
Tamaño del conjunto de prueba (y): (1187327,)

In [32]:
def AUC(model, X, y):
    return roc_auc_score(y, model.predict_proba(X)[:, 1])

def cross_validation(model, X, y):
    Kfold_metric = cross_val_score(model, X, y, cv=4, scoring='roc_auc')
    return Kfold_metric.mean()

In [33]:
label_ = []
metric_train_ = []
metric_valida_ = []

In [34]:
def evaluate_model(label, model, X, y):
 model.fit(X,y)
 metric_train = AUC(model,X,y)
 metric_valida = cross_validation(model,X,y)
 
 label_.append(label)
 metric_train_.append(metric_train)
 metric_valida_.append(metric_valida)
 return pd.DataFrame({'Model': label_,
                'AUC Train': metric_train_,
                'AUC Cross-Valida': metric_valida_
                }).sort_values('AUC Cross-Valida')

In [35]:
#evaluate_model(label='XGBoost', 
# model = xgb.XGBClassifier(), 
# X=X_train, y=y_train)

### Recomendador

In [40]:
df_rc=pd.read_csv("clusters_v2.csv",index_col=0)

In [41]:
df_rc2 = df_rc2[df_rc2["pk_partition"] == "2019-05-28"]

In [42]:
df_rc2

,pk_cid,pk_partition,active_customer,segment,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,...,entry_channel_KHD,entry_channel_KHE,entry_channel_KHF,entry_channel_KHK,entry_channel_KHL,entry_channel_KHM,entry_channel_KHN,entry_channel_KHO,entry_channel_KHQ,entry_channel_RED
Index,,,,,,,,,,,,,,,,,,,,,
5519930,657817,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5519932,657905,2019-05-28,1.0,1,0,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
5519933,657336,2019-05-28,1.0,2,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
5519934,657147,2019-05-28,0.0,2,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
5519935,658184,2019-05-28,1.0,2,0,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962920,1166764,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962921,1166763,2019-05-28,1.0,2,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962922,1166789,2019-05-28,0.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False
5962923,1550586,2019-05-28,1.0,3,0,0,0,0,0,0,...,False,True,False,False,False,False,False,False,False,False

In [43]:
df_rc2 = df_rc2[["pk_cid","salary","age","segment","gender","region_code", "Financiacion","Ahorro","Cuentas","Antiguedad","compra"]]

In [44]:
df_rc3 = df_rc2.merge(df_rc["cluster"], left_on="pk_cid", right_index=True, how="inner")

In [45]:
df_rc3 = df_rc3.set_index("pk_cid")

In [46]:
df_cluster_5 = df_rc3[df_rc3["cluster"] == 5].copy()

In [47]:
df_cluster_5

,salary,age,segment,gender,region_code,Financiacion,Ahorro,Cuentas,Antiguedad,compra,cluster
pk_cid,,,,,,,,,,,
657336,126765.57,38,2,1,28.0,0,0,1,2,0,5
655774,94054.20,37,2,0,15.0,0,0,1,5,0,5
656163,75408.45,53,2,0,28.0,0,0,2,11,0,5
656915,134470.14,37,2,1,33.0,0,0,1,17,0,5
656215,126765.57,38,2,1,28.0,0,0,1,2,0,5
...,...,...,...,...,...,...,...,...,...,...,...
1166804,99755.88,43,2,0,46.0,0,0,1,34,0,5
1166756,56105.28,42,2,0,50.0,0,0,1,34,0,5
1166734,96796.23,46,2,0,50.0,0,0,1,34,0,5
1166763,96796.23,47,2,0,50.0,0,0,1,34,0,5
1550586,126765.57,37,3,0,28.0,0,0,1,0,0,5

In [48]:
# eliminamos la columna de cluster del dataset para que no se use en el cálculo de la similitud de coseno.
df_cluster_5.drop("cluster", axis = 1, inplace = True)

In [49]:
df_cluster_5 = df_cluster_5.sample(frac=0.025, random_state=42)

In [50]:
#Es el usuario que usaremos como base para la recomendacion, teniendo en cuenta que haya hecho al menos una compra en el ultimo mes 

usuario_estrella = df_cluster_5.loc[df_cluster_5['compra'] == 1].index[0]

In [51]:
EXECUTE = True

In [52]:
if EXECUTE:
    # normalizamos nuestro dataset
    st = time.time()
    
    scaler = MinMaxScaler()
    df_normalized = scaler.fit_transform(df_cluster_5)
    df_normalized = pd.DataFrame(df_normalized, columns=df_cluster_5.columns)
    df_normalized.index = df_cluster_5.index


    et = time.time()
    print("Normalization took {} minutes".format(round((et - st)/60, 2)))

    sparse_ratings = sp.sparse.csr_matrix(df_normalized.values)

    st = time.time()
    print("Working with user similarity")
    user_similarity = cosine_similarity(sparse_ratings)
    user_sim_df = pd.DataFrame(user_similarity, index = df_normalized.index, columns = df_normalized.index)
    user_sim_df.columns = map(str, user_sim_df.columns)
    user_sim_df.to_parquet("cf_user_similarity_c.parquet.gzip")

    print("Working with item similarity")
    item_similarity = cosine_similarity(sparse_ratings.T)
    item_sim_df = pd.DataFrame(item_similarity, index = df_normalized.columns, columns = df_normalized.columns)
    item_sim_df.columns = map(str, item_sim_df.columns)
    item_sim_df.to_parquet("cf_item_similarity_c.parquet.gzip")

    et = time.time()
    print("Total time to calculate similarity took {} minutes.".format(round((et - st)/60, 2)))

else:
    user_sim_df = pd.read_parquet(os.path.join(PATH_FOLDER, "cf_user_similarity_c.parquet.gzip"))
    item_sim_df = pd.read_parquet(os.path.join(PATH_FOLDER, "cf_item_similarity_c.parquet.gzip"))

Normalization took 0.0 minutes
Working with user similarity
Working with item similarity
Total time to calculate similarity took 0.01 minutes.

In [53]:
user_sim_df.head(5)

,1382253,1013152,1122965,1528262,1201044,1212834,1397070,1264223,891992,1024508,...,1101421,1352517,1009044,1529224,1204830,1290479,1177367,1125131,1533318,1203356
pk_cid,,,,,,,,,,,,,,,,,,,,,
1382253,1.000000,0.749218,0.552635,0.950528,0.885785,0.863051,0.736262,0.838069,0.488687,0.677711,...,0.687532,0.503347,0.797261,0.476769,0.735516,0.898280,0.700585,0.790775,0.730615,0.928882
1013152,0.749218,1.000000,0.843096,0.596585,0.657247,0.670398,0.826783,0.591015,0.653390,0.952929,...,0.898727,0.616877,0.706429,0.526415,0.919190,0.641021,0.887526,0.644928,0.420827,0.742745
1122965,0.552635,0.843096,1.000000,0.443979,0.578719,0.588942,0.556935,0.587830,0.759015,0.860566,...,0.658144,0.559569,0.604403,0.328993,0.641248,0.428600,0.625437,0.567076,0.431032,0.535030
1528262,0.950528,0.596585,0.443979,1.000000,0.887197,0.881706,0.667808,0.830905,0.415936,0.599482,...,0.488069,0.493061,0.756566,0.436292,0.565689,0.908940,0.525715,0.810771,0.801505,0.843872
1201044,0.885785,0.657247,0.578719,0.887197,1.000000,0.798002,0.583985,0.848935,0.563780,0.678955,...,0.575603,0.411530,0.754307,0.365882,0.562869,0.891140,0.484713,0.891619,0.734609,0.804564

In [54]:
item_sim_df.head(5)

,salary,age,segment,gender,region_code,Financiacion,Ahorro,Cuentas,Antiguedad,compra
salary,1.000000,0.724364,0.817124,0.643101,0.763195,0.434731,0.243318,0.829049,0.741228,0.132479
age,0.724364,1.000000,0.680544,0.591789,0.702704,0.383208,0.222977,0.748210,0.684777,0.116332
segment,0.817124,0.680544,1.000000,0.690972,0.848516,0.472560,0.184717,0.864821,0.810115,0.146405
gender,0.643101,0.591789,0.690972,1.000000,0.660950,0.378694,0.181889,0.698341,0.634531,0.127530
region_code,0.763195,0.702704,0.848516,0.660950,1.000000,0.448895,0.223293,0.832371,0.755026,0.150540

In [55]:
def top_users(user, df):
    '''
    This function prints the top 10 similar users based on cosine similarity.
    '''

    df.columns = map(int, df.columns)

    if user not in df.columns:
        return('No data available on user {}'.format(user))

    print('Most Similar Users:\n')

    sim_users = df.sort_values(by = user, ascending=False).index[1:616]
    sim_values = df.sort_values(by = user, ascending=False).loc[:,user].tolist()[1:616]

    for user, sim in zip(sim_users, sim_values):
        print('User #{0}, Similarity value: {1:.4f}'.format(user, sim))

    return sim_users, sim_values

In [56]:
user1 = np.random.choice(user_sim_df.index)
user1

1355432

In [58]:
[similar_users, similar_values] = top_users(usuario_estrella, user_sim_df)

Most Similar Users:

User #1529224, Similarity value: 0.9913
User #1400606, Similarity value: 0.9515
User #1524954, Similarity value: 0.9286
User #1347889, Similarity value: 0.9218
User #1545950, Similarity value: 0.9135
User #1530954, Similarity value: 0.8994
User #1547819, Similarity value: 0.8923
User #1405101, Similarity value: 0.8755
User #1511984, Similarity value: 0.8161
User #1504990, Similarity value: 0.8141
User #1531642, Similarity value: 0.8102
User #1518293, Similarity value: 0.7883
User #1518353, Similarity value: 0.7853
User #1545349, Similarity value: 0.7813
User #1547304, Similarity value: 0.7807
User #1524666, Similarity value: 0.7784
User #1524967, Similarity value: 0.7777
User #1544113, Similarity value: 0.7678
User #1382290, Similarity value: 0.7551
User #1535018, Similarity value: 0.7518
User #1244024, Similarity value: 0.7500
User #1468527, Similarity value: 0.7436
User #1522445, Similarity value: 0.7431
User #1082672, Similarity value: 0.7364
User #1456720, Similarity value: 0.7309
User #1546758, Similarity value: 0.7278
User #1528838, Similarity value: 0.7171
User #1545394, Similarity value: 0.7131
User #1068634, Similarity value: 0.7105
User #1082754, Similarity value: 0.7021
User #1533683, Similarity value: 0.6973
User #1536555, Similarity value: 0.6973
User #1540754, Similarity value: 0.6969
User #1520603, Similarity value: 0.6961
User #1530992, Similarity value: 0.6959
User #1483160, Similarity value: 0.6934
User #1487695, Similarity value: 0.6932
User #1543664, Similarity value: 0.6931
User #1495650, Similarity value: 0.6922
User #1523894, Similarity value: 0.6891
User #1508591, Similarity value: 0.6891
User #1532296, Similarity value: 0.6888
User #1172878, Similarity value: 0.6885
User #1523716, Similarity value: 0.6883
User #1522974, Similarity value: 0.6882
User #1373771, Similarity value: 0.6871
User #1540398, Similarity value: 0.6869
User #836020, Similarity value: 0.6865
User #1534633, Similarity value: 0.6865
User #1530109, Similarity value: 0.6856
User #1534041, Similarity value: 0.6850
User #1521112, Similarity value: 0.6846
User #1515464, Similarity value: 0.6838
User #1375181, Similarity value: 0.6807
User #1526811, Similarity value: 0.6805
User #1489716, Similarity value: 0.6804
User #1515230, Similarity value: 0.6792
User #1547688, Similarity value: 0.6776
User #1398899, Similarity value: 0.6769
User #1410284, Similarity value: 0.6760
User #1534508, Similarity value: 0.6755
User #1500268, Similarity value: 0.6754
User #1404851, Similarity value: 0.6730
User #1402741, Similarity value: 0.6727
User #1405459, Similarity value: 0.6724
User #1531745, Similarity value: 0.6717
User #1519325, Similarity value: 0.6714
User #1468518, Similarity value: 0.6710
User #1527587, Similarity value: 0.6707
User #1298758, Similarity value: 0.6684
User #1387695, Similarity value: 0.6664
User #1530300, Similarity value: 0.6644
User #122163, Similarity value: 0.6643
User #1400276, Similarity value: 0.6630
User #1396511, Similarity value: 0.6623
User #1511347, Similarity value: 0.6615
User #1443846, Similarity value: 0.6612
User #1445358, Similarity value: 0.6602
User #1544128, Similarity value: 0.6601
User #1314501, Similarity value: 0.6591
User #1472622, Similarity value: 0.6584
User #1513264, Similarity value: 0.6580
User #1402981, Similarity value: 0.6578
User #1375807, Similarity value: 0.6577
User #1380030, Similarity value: 0.6573
User #1528846, Similarity value: 0.6573
User #1489977, Similarity value: 0.6564
User #1370452, Similarity value: 0.6562
User #838289, Similarity value: 0.6555
User #1400491, Similarity value: 0.6555
User #1551691, Similarity value: 0.6553
User #1310912, Similarity value: 0.6552
User #1374213, Similarity value: 0.6541
User #1515199, Similarity value: 0.6537
User #750832, Similarity value: 0.6531
User #1407541, Similarity value: 0.6525
User #1478420, Similarity value: 0.6521
User #1356118, Similarity value: 0.6517
User #1485066, Similarity value: 0.6517
User #1382180, Similarity value: 0.6515
User #1523414, Similarity value: 0.6514
User #1504979, Similarity value: 0.6512
User #1549255, Similarity value: 0.6503
User #1497253, Similarity value: 0.6502
User #1312118, Similarity value: 0.6499
User #1311444, Similarity value: 0.6496
User #1401723, Similarity value: 0.6492
User #1375943, Similarity value: 0.6490
User #1311336, Similarity value: 0.6478
User #1379664, Similarity value: 0.6477
User #1516585, Similarity value: 0.6473
User #1362490, Similarity value: 0.6471
User #1544065, Similarity value: 0.6455
User #1184041, Similarity value: 0.6453
User #1536947, Similarity value: 0.6452
User #1349231, Similarity value: 0.6451
User #1530840, Similarity value: 0.6449
User #1520300, Similarity value: 0.6446
User #1376747, Similarity value: 0.6443
User #1264952, Similarity value: 0.6437
User #1381086, Similarity value: 0.6435
User #1397211, Similarity value: 0.6432
User #1503265, Similarity value: 0.6430
User #1365846, Similarity value: 0.6427
User #1380106, Similarity value: 0.6423
User #1309414, Similarity value: 0.6415
User #1396058, Similarity value: 0.6405
User #1393211, Similarity value: 0.6395
User #223640, Similarity value: 0.6395
User #1390396, Similarity value: 0.6393
User #1249958, Similarity value: 0.6387
User #1549194, Similarity value: 0.6387
User #1377473, Similarity value: 0.6387
User #1540617, Similarity value: 0.6386
User #1504948, Similarity value: 0.6385
User #1545409, Similarity value: 0.6385
User #1527407, Similarity value: 0.6378
User #1370799, Similarity value: 0.6374
User #857349, Similarity value: 0.6374
User #1255130, Similarity value: 0.6372
User #1515415, Similarity value: 0.6362
User #1357892, Similarity value: 0.6360
User #1332482, Similarity value: 0.6357
User #1251199, Similarity value: 0.6357
User #1362363, Similarity value: 0.6350
User #1344830, Similarity value: 0.6330
User #1394228, Similarity value: 0.6327
User #1081268, Similarity value: 0.6319
User #885216, Similarity value: 0.6316
User #1551795, Similarity value: 0.6315
User #1549473, Similarity value: 0.6312
User #1438782, Similarity value: 0.6310
User #1322813, Similarity value: 0.6306
User #1296657, Similarity value: 0.6305
User #1266882, Similarity value: 0.6303
User #1523047, Similarity value: 0.6287
User #1530271, Similarity value: 0.6287
User #1268414, Similarity value: 0.6287
User #1523404, Similarity value: 0.6282
User #1544521, Similarity value: 0.6281
User #1537779, Similarity value: 0.6277
User #1532878, Similarity value: 0.6267
User #1480386, Similarity value: 0.6264
User #1500505, Similarity value: 0.6263
User #1540834, Similarity value: 0.6259
User #1528581, Similarity value: 0.6259
User #1542828, Similarity value: 0.6259
User #1416978, Similarity value: 0.6253
User #1514753, Similarity value: 0.6250
User #1368440, Similarity value: 0.6246
User #1028298, Similarity value: 0.6243
User #1363262, Similarity value: 0.6241
User #1540996, Similarity value: 0.6229
User #1248767, Similarity value: 0.6221
User #1236766, Similarity value: 0.6220
User #1491489, Similarity value: 0.6216
User #183536, Similarity value: 0.6215
User #1239367, Similarity value: 0.6214
User #1390691, Similarity value: 0.6213
User #1391061, Similarity value: 0.6212
User #1359578, Similarity value: 0.6209
User #1529061, Similarity value: 0.6208
User #1249852, Similarity value: 0.6202
User #1259120, Similarity value: 0.6201
User #1439150, Similarity value: 0.6201
User #1537393, Similarity value: 0.6195
User #1536649, Similarity value: 0.6194
User #1236381, Similarity value: 0.6191
User #1314593, Similarity value: 0.6177
User #1444251, Similarity value: 0.6174
User #1416439, Similarity value: 0.6172
User #1453244, Similarity value: 0.6171
User #1240458, Similarity value: 0.6167
User #1543575, Similarity value: 0.6167
User #1370892, Similarity value: 0.6163
User #1390917, Similarity value: 0.6161
User #1347923, Similarity value: 0.6161
User #1265106, Similarity value: 0.6159
User #1515303, Similarity value: 0.6156
User #1517979, Similarity value: 0.6152
User #1548365, Similarity value: 0.6152
User #1537948, Similarity value: 0.6150
User #1240823, Similarity value: 0.6147
User #1489119, Similarity value: 0.6146
User #1529608, Similarity value: 0.6135
User #1358375, Similarity value: 0.6135
User #1318209, Similarity value: 0.6134
User #1440425, Similarity value: 0.6132
User #1242655, Similarity value: 0.6129
User #1328412, Similarity value: 0.6126
User #1352629, Similarity value: 0.6123
User #1391220, Similarity value: 0.6118
User #1233717, Similarity value: 0.6115
User #1532886, Similarity value: 0.6115
User #1352118, Similarity value: 0.6112
User #1452988, Similarity value: 0.6098
User #868494, Similarity value: 0.6098
User #1334955, Similarity value: 0.6098
User #1488201, Similarity value: 0.6093
User #1498981, Similarity value: 0.6092
User #1293287, Similarity value: 0.6089
User #1256691, Similarity value: 0.6088
User #1241716, Similarity value: 0.6086
User #1266402, Similarity value: 0.6078
User #1262187, Similarity value: 0.6077
User #1493597, Similarity value: 0.6074
User #1396064, Similarity value: 0.6069
User #1181876, Similarity value: 0.6068
User #1376967, Similarity value: 0.6062
User #1336884, Similarity value: 0.6059
User #1404136, Similarity value: 0.6057
User #1254382, Similarity value: 0.6055
User #1341129, Similarity value: 0.6043
User #1335284, Similarity value: 0.6032
User #1338665, Similarity value: 0.6021
User #1489721, Similarity value: 0.6017
User #1330197, Similarity value: 0.6014
User #1304020, Similarity value: 0.6012
User #1373143, Similarity value: 0.6007
User #1338633, Similarity value: 0.6004
User #1259802, Similarity value: 0.6003
User #1530106, Similarity value: 0.6003
User #1384410, Similarity value: 0.6000
User #1249065, Similarity value: 0.5997
User #1291666, Similarity value: 0.5993
User #1178210, Similarity value: 0.5992
User #1437626, Similarity value: 0.5983
User #1378437, Similarity value: 0.5976
User #1359693, Similarity value: 0.5976
User #1391516, Similarity value: 0.5972
User #1295895, Similarity value: 0.5971
User #1209913, Similarity value: 0.5970
User #1331695, Similarity value: 0.5969
User #1112413, Similarity value: 0.5967
User #1221145, Similarity value: 0.5963
User #1370756, Similarity value: 0.5954
User #1351120, Similarity value: 0.5953
User #1534095, Similarity value: 0.5951
User #1494159, Similarity value: 0.5950
User #1445017, Similarity value: 0.5947
User #1396631, Similarity value: 0.5947
User #1355469, Similarity value: 0.5942
User #1265068, Similarity value: 0.5938
User #1133142, Similarity value: 0.5938
User #1396549, Similarity value: 0.5937
User #1336213, Similarity value: 0.5935
User #1203985, Similarity value: 0.5934
User #1304582, Similarity value: 0.5933
User #1390250, Similarity value: 0.5931
User #1273770, Similarity value: 0.5928
User #1229243, Similarity value: 0.5927
User #1352517, Similarity value: 0.5925
User #1374878, Similarity value: 0.5917
User #1495655, Similarity value: 0.5909
User #1400677, Similarity value: 0.5907
User #1435499, Similarity value: 0.5903
User #1358078, Similarity value: 0.5902
User #192830, Similarity value: 0.5896
User #1370913, Similarity value: 0.5896
User #1125238, Similarity value: 0.5896
User #1218928, Similarity value: 0.5894
User #1133666, Similarity value: 0.5890
User #1036376, Similarity value: 0.5888
User #1320789, Similarity value: 0.5886
User #1248035, Similarity value: 0.5884
User #1542105, Similarity value: 0.5881
User #1402773, Similarity value: 0.5867
User #1375955, Similarity value: 0.5861
User #1446289, Similarity value: 0.5860
User #1301362, Similarity value: 0.5859
User #1266961, Similarity value: 0.5853
User #1303210, Similarity value: 0.5852
User #1521337, Similarity value: 0.5850
User #1328381, Similarity value: 0.5845
User #1547362, Similarity value: 0.5844
User #145807, Similarity value: 0.5840
User #1370443, Similarity value: 0.5836
User #1175999, Similarity value: 0.5834
User #987087, Similarity value: 0.5826
User #1514420, Similarity value: 0.5812
User #1292931, Similarity value: 0.5802
User #1482457, Similarity value: 0.5801
User #1120519, Similarity value: 0.5800
User #1543722, Similarity value: 0.5795
User #1252072, Similarity value: 0.5791
User #1322086, Similarity value: 0.5786
User #1217358, Similarity value: 0.5786
User #1190987, Similarity value: 0.5781
User #1275273, Similarity value: 0.5774
User #1454659, Similarity value: 0.5773
User #1256007, Similarity value: 0.5770
User #1381782, Similarity value: 0.5769
User #1212820, Similarity value: 0.5768
User #1156590, Similarity value: 0.5768
User #1474195, Similarity value: 0.5766
User #1257442, Similarity value: 0.5764
User #1126168, Similarity value: 0.5760
User #1388015, Similarity value: 0.5759
User #1204830, Similarity value: 0.5757
User #1269908, Similarity value: 0.5756
User #1138240, Similarity value: 0.5749
User #1161592, Similarity value: 0.5748
User #1267003, Similarity value: 0.5745
User #1209912, Similarity value: 0.5743
User #1102410, Similarity value: 0.5743
User #1200237, Similarity value: 0.5738
User #1270817, Similarity value: 0.5735
User #1254081, Similarity value: 0.5733
User #417595, Similarity value: 0.5730
User #1370929, Similarity value: 0.5730
User #1033696, Similarity value: 0.5728
User #1342697, Similarity value: 0.5727
User #1468958, Similarity value: 0.5727
User #1134203, Similarity value: 0.5724
User #1466918, Similarity value: 0.5724
User #1237136, Similarity value: 0.5717
User #1092030, Similarity value: 0.5717
User #1435233, Similarity value: 0.5716
User #1380221, Similarity value: 0.5716
User #1231289, Similarity value: 0.5712
User #1110770, Similarity value: 0.5711
User #1247939, Similarity value: 0.5701
User #1123656, Similarity value: 0.5701
User #1248598, Similarity value: 0.5700
User #1148363, Similarity value: 0.5698
User #1540394, Similarity value: 0.5695
User #1261492, Similarity value: 0.5694
User #1168854, Similarity value: 0.5693
User #1106583, Similarity value: 0.5689
User #100106, Similarity value: 0.5686
User #1121343, Similarity value: 0.5686
User #1497605, Similarity value: 0.5679
User #1391772, Similarity value: 0.5678
User #1245514, Similarity value: 0.5669
User #1165578, Similarity value: 0.5668
User #1276729, Similarity value: 0.5665
User #1102889, Similarity value: 0.5663
User #1298139, Similarity value: 0.5662
User #1175231, Similarity value: 0.5661
User #1234225, Similarity value: 0.5655
User #1403855, Similarity value: 0.5646
User #1195369, Similarity value: 0.5646
User #1487928, Similarity value: 0.5615
User #1456136, Similarity value: 0.5609
User #1113445, Similarity value: 0.5604
User #1327457, Similarity value: 0.5603
User #1221103, Similarity value: 0.5602
User #1234838, Similarity value: 0.5600
User #1523561, Similarity value: 0.5587
User #1046009, Similarity value: 0.5586
User #1396264, Similarity value: 0.5584
User #1080964, Similarity value: 0.5579
User #1408175, Similarity value: 0.5576
User #1169625, Similarity value: 0.5574
User #1218329, Similarity value: 0.5570
User #1371090, Similarity value: 0.5570
User #1100663, Similarity value: 0.5567
User #1293339, Similarity value: 0.5565
User #1529959, Similarity value: 0.5556
User #1153442, Similarity value: 0.5555
User #1055510, Similarity value: 0.5553
User #1462008, Similarity value: 0.5552
User #1212794, Similarity value: 0.5546
User #1353177, Similarity value: 0.5541
User #1536578, Similarity value: 0.5539
User #1172367, Similarity value: 0.5536
User #1243671, Similarity value: 0.5535
User #1413912, Similarity value: 0.5535
User #1237058, Similarity value: 0.5528
User #1117813, Similarity value: 0.5523
User #1080470, Similarity value: 0.5517
User #1439506, Similarity value: 0.5513
User #1061764, Similarity value: 0.5509
User #1270747, Similarity value: 0.5508
User #1179660, Similarity value: 0.5500
User #797757, Similarity value: 0.5498
User #1275219, Similarity value: 0.5498
User #1216073, Similarity value: 0.5498
User #1382166, Similarity value: 0.5496
User #1090958, Similarity value: 0.5489
User #1128055, Similarity value: 0.5487
User #1271693, Similarity value: 0.5483
User #1085584, Similarity value: 0.5481
User #1025252, Similarity value: 0.5469
User #1015516, Similarity value: 0.5469
User #1139425, Similarity value: 0.5468
User #1200572, Similarity value: 0.5464
User #1238304, Similarity value: 0.5459
User #1151085, Similarity value: 0.5459
User #1071188, Similarity value: 0.5458
User #1238346, Similarity value: 0.5458
User #1243480, Similarity value: 0.5454
User #1229904, Similarity value: 0.5439
User #1142704, Similarity value: 0.5436
User #1248754, Similarity value: 0.5425
User #1128446, Similarity value: 0.5419
User #1233715, Similarity value: 0.5417
User #1171702, Similarity value: 0.5413
User #1027173, Similarity value: 0.5411
User #1251181, Similarity value: 0.5406
User #1213380, Similarity value: 0.5404
User #1213211, Similarity value: 0.5401
User #1552921, Similarity value: 0.5387
User #1267404, Similarity value: 0.5386
User #1518569, Similarity value: 0.5382
User #1537181, Similarity value: 0.5370
User #1277515, Similarity value: 0.5369
User #1215410, Similarity value: 0.5368
User #1431753, Similarity value: 0.5363
User #1228286, Similarity value: 0.5360
User #1268479, Similarity value: 0.5360
User #1364009, Similarity value: 0.5360
User #188215, Similarity value: 0.5359
User #1121931, Similarity value: 0.5358
User #1454370, Similarity value: 0.5353
User #1020557, Similarity value: 0.5352
User #1086927, Similarity value: 0.5350
User #1245564, Similarity value: 0.5349
User #1198561, Similarity value: 0.5349
User #1013639, Similarity value: 0.5342
User #1181067, Similarity value: 0.5342
User #1081636, Similarity value: 0.5339
User #1459364, Similarity value: 0.5337
User #1177367, Similarity value: 0.5337
User #1392675, Similarity value: 0.5334
User #1384544, Similarity value: 0.5329
User #1300268, Similarity value: 0.5326
User #1259228, Similarity value: 0.5324
User #1121948, Similarity value: 0.5323
User #1125115, Similarity value: 0.5323
User #1071755, Similarity value: 0.5322
User #1393615, Similarity value: 0.5320
User #1393039, Similarity value: 0.5319
User #1523143, Similarity value: 0.5316
User #1075832, Similarity value: 0.5311
User #1031235, Similarity value: 0.5305
User #1191509, Similarity value: 0.5301
User #1231315, Similarity value: 0.5295
User #1549933, Similarity value: 0.5292
User #1174725, Similarity value: 0.5291
User #1315577, Similarity value: 0.5291
User #1207466, Similarity value: 0.5290
User #1329629, Similarity value: 0.5286
User #1250615, Similarity value: 0.5281
User #1140666, Similarity value: 0.5279
User #1378268, Similarity value: 0.5278
User #1211048, Similarity value: 0.5274
User #1017688, Similarity value: 0.5272
User #1251617, Similarity value: 0.5272
User #1372868, Similarity value: 0.5272
User #1072226, Similarity value: 0.5268
User #1102940, Similarity value: 0.5263
User #1298225, Similarity value: 0.5262
User #1513644, Similarity value: 0.5261
User #1066392, Similarity value: 0.5260
User #1044599, Similarity value: 0.5259
User #1409825, Similarity value: 0.5258
User #1372244, Similarity value: 0.5257
User #1165901, Similarity value: 0.5256
User #1137693, Similarity value: 0.5254
User #1122910, Similarity value: 0.5249
User #1054652, Similarity value: 0.5241
User #1449593, Similarity value: 0.5236
User #1193190, Similarity value: 0.5235
User #1490733, Similarity value: 0.5234
User #1002464, Similarity value: 0.5233
User #1008961, Similarity value: 0.5232
User #1527158, Similarity value: 0.5232
User #1402166, Similarity value: 0.5232
User #1549975, Similarity value: 0.5231
User #1156379, Similarity value: 0.5229
User #1341796, Similarity value: 0.5228
User #1404893, Similarity value: 0.5227
User #1449010, Similarity value: 0.5223
User #1017117, Similarity value: 0.5218
User #1242728, Similarity value: 0.5217
User #1034028, Similarity value: 0.5216
User #1239865, Similarity value: 0.5216
User #1135547, Similarity value: 0.5216

In [ ]:
similar_values

[0.995476410147021,
 0.9928602601618128,
 0.9887157324410828,
 0.9874743328735791,
 0.9868596913763275,
 0.9857603832320813,
 0.9842995017267211,
 0.9840461123829027,
 0.9838728455578954,
 0.9830090454599062,
 0.982918825599977,
 0.9813815202328721,
 0.9811847357234107,
 0.9809850127083191,
 0.9807355480465908,
 0.9806453544751134,
 0.9804972108356202,
 0.9797510181891669,
 0.9797458476471758,
 0.9795658358831135,
 0.978960323523562,
 0.9789569693268274,
 0.9775116868380418,
 0.9769609556920971,
 0.9769041957341282,
 0.9750524937409701,
 0.9745745833077879,
 0.974452833246474,
 0.9743982285982182,
 0.9741868170415077,
 0.9741717262097914,
 0.9740862225703977,
 0.9737119354740403,
 0.9729383953012436,
 0.9727791164874098,
 0.9724556174241226,
 0.9720505650134925,
 0.9720383420187477,
 0.9719395134018419,
 0.9715956966979955,
 0.9715475513003086,
 0.9715376604723642,
 0.9714688332110316,
 0.9712227687383834,
 0.9706339704879553,
 0.9705606216638731,
 0.9703279300281987,
 0.9699486499660541,
 0.9696326103044379,
 0.9694688497988098,
 0.9692327514076915,
 0.968672240133932,
 0.9683048659267195,
 0.968246755342815,
 0.9672215848626283,
 0.9654007413116159,
 0.9653751607800536,
 0.9652168210420954,
 0.964889217237247,
 0.9644862621116932,
 0.9643973068560397,
 0.9639745430672435,
 0.9636280367319909,
 0.9630656281833703,
 0.96271816346702,
 0.9622020479595751,
 0.9620391753755801,
 0.9616182969683212,
 0.9610092075555433,
 0.9606886899458501,
 0.9605722943473365,
 0.960334995839162,
 0.9603163604484125,
 0.9602586362465174,
 0.9600237809999936,
 0.9599448668406496,
 0.9594722337471597,
 0.9589256298902589,
 0.9588299595448364,
 0.9582574439234373,
 0.9579188473744404,
 0.9576875718395329,
 0.957506143663597,
 0.9571089527999731,
 0.9567029472673407,
 0.9566528204827296,
 0.9562952379034717,
 0.9562810251624145,
 0.9562139307527401,
 0.9561612145075691,
 0.9558038088720989,
 0.9557689317420537,
 0.9557151991517736,
 0.9554743991968497,
 0.9552402538478434,
 0.9548525235116523,
 0.9546141952380007,
 0.9543782910929677,
 0.9538905392862637,
 0.9534271041790675,
 0.9530937276556556,
 0.9528922573431309,
 0.9528604444601227,
 0.9527354354390141,
 0.9527305333072214,
 0.9527266007849409,
 0.9525018263735744,
 0.9524399966211998,
 0.9523796555392094,
 0.9520780242371336,
 0.9516236943107006,
 0.9515842271728627,
 0.9511762469266126,
 0.9509778032406728,
 0.9508905926305448,
 0.9501295532670477,
 0.9500743726950716,
 0.9497432130568774,
 0.9496661744259882,
 0.9493101931026644,
 0.9488291551827482,
 0.9483372854737098,
 0.9483258510088979,
 0.9481327406328386,
 0.9480639394072082,
 0.947884647281614,
 0.947667067761661,
 0.9474295894100504,
 0.9472346601947836,
 0.9470811965616872,
 0.9470518600321545,
 0.9470350943212807,
 0.9470297702962154,
 0.9467017428259861,
 0.9465516537713347,
 0.9465010849196404,
 0.9456606180967588,
 0.9455664352129178,
 0.9454120189236827,
 0.9453722998318927,
 0.9448081139150104,
 0.9447219932204953,
 0.9446834949975842,
 0.9443020954701431,
 0.9440931144561346,
 0.9432159841549907,
 0.943147157681271,
 0.9431422049291581,
 0.943022802006187,
 0.9429704235492541,
 0.9426655650974732,
 0.9422707418572444,
 0.9421758081255783,
 0.9420105973019793,
 0.9419325847170311,
 0.9418983571345173,
 0.9416805719638293,
 0.941218643772635,
 0.9408791113705196,
 0.9405315643134502,
 0.9403351146897554,
 0.9402672731289262,
 0.9397458744438454,
 0.9390663614504409,
 0.9389931216065708,
 0.9387249132240728,
 0.9387103970523376,
 0.9384121204879481,
 0.9383428870506126,
 0.93800961137346,
 0.9379547246501521,
 0.9379340645469039,
 0.9376609029574889,
 0.9376101510606124,
 0.9373667167786358,
 0.937270920791282,
 0.9372588859656844,
 0.9371890280736458,
 0.9370844700085211,
 0.9367952775894621,
 0.9367888020478883,
 0.9366254702601507,
 0.9366171037298779,
 0.9364048006788874,
 0.9360607869856664,
 0.9358189661125045,
 0.9355256489194409,
 0.935076866914679,
 0.9350566313360913,
 0.9347396647528995,
 0.9340214971387728,
 0.9340125738515462,
 0.9338304400895541,
 0.9337633201791492,
 0.9336693268574457,
 0.933415779176011,
 0.9332770302311212,
 0.9332095920428071,
 0.9330344578555034,
 0.9330188835881991,
 0.9329644808191601,
 0.932888248172131,
 0.9326786966286427,
 0.9325884340752278,
 0.9324966812178205,
 0.9324714275656335,
 0.9323187919871497,
 0.9322668856439662,
 0.9314985472785724,
 0.9312021232394575,
 0.9311075167158985,
 0.9306904306887608,
 0.9306448657417712,
 0.9306258129603104,
 0.93027016618824,
 0.9301495899226597,
 0.9297064534933753,
 0.9295989934231255,
 0.9295609899914753,
 0.9284968283584201,
 0.9283891994720386,
 0.9282701289120453,
 0.9282211448824085,
 0.9282081216739348,
 0.9279865059117914,
 0.927899833436986,
 0.9278284150128759,
 0.9272437953441781,
 0.9272404253672909,
 0.9272120980967756,
 0.9271949137793396,
 0.9271075005882443,
 0.9271017625797493,
 0.9265846128883796,
 0.9264192482163206,
 0.9262934819823416,
 0.9262648012116595,
 0.925799436289988,
 0.9257546916843288,
 0.9254959181196745,
 0.9254627335550654,
 0.9253501253787846,
 0.9253251062742898,
 0.925312762642389,
 0.9251505550923149,
 0.9251066189739188,
 0.9248751021739073,
 0.9245753144945137,
 0.9243572990299533,
 0.9241552017987296,
 0.9241486675255459,
 0.9239973100433098,
 0.9239504523156357,
 0.9238860020914966,
 0.9237719025898214,
 0.9236755333281905,
 0.9236670121820162,
 0.9236163724086217,
 0.9236005963017487,
 0.9234769574844431,
 0.923425959635603,
 0.9231866568045441,
 0.9227446838005298,
 0.9227312010607779,
 0.9226742106628728,
 0.922454337661781,
 0.9221509048082299,
 0.9221400379476432,
 0.9220976613681998,
 0.9220262479242781,
 0.9213058914403507,
 0.9209713540457725,
 0.9208351251756283,
 0.920795088458078,
 0.9207596724393269,
 0.9207310119265831,
 0.9206864665130834,
 0.9206511514068277,
 0.9206318242952123,
 0.9203621297067504,
 0.9201396727776284,
 0.9198181950935347,
 0.919678504401721,
 0.9196536811704771,
 0.9193741458114585,
 0.9193226825460777,
 0.9193152785104637,
 0.9191253399187835,
 0.918694604504042,
 0.918694604504042,
 0.917996845746332,
 0.9176358484148589,
 0.917502968452447,
 0.9172469624034371,
 0.9171678874422879,
 0.9168215387177361,
 0.916816910007816,
 0.9168158319147709,
 0.9168060141191257,
 0.9167796500740073,
 0.9166549597696153,
 0.9166404325286989,
 0.9163846731174374,
 0.9157449893226102,
 0.9156636755669699,
 0.9155959734807263,
 0.9154722332624263,
 0.91545335912011,
 0.9152707671934502,
 0.9148536171909672,
 0.9148013282155877,
 0.9144542055255869,
 0.9138878865104905,
 0.9137499299613693,
 0.9137170472271576,
 0.9135454327343866,
 0.9135325426559185,
 0.913425117716729,
 0.9132862923437653,
 0.9131354693859137,
 0.9130372154230263,
 0.9127120468929513,
 0.9124527210231481,
 0.9120066585022021,
 0.911937979538784,
 0.9118836122520073,
 0.9118073863734242,
 0.9112847086539977,
 0.9112057384147125,
 0.9111418431038121,
 0.9111376804221474,
 0.9111037253025462,
 0.9107655554424245,
 0.9107363076642362,
 0.9106571047463906,
 0.9106333579459936,
 0.9102693893244915,
 0.9094831087078509,
 0.9094401572839541,
 0.9092764434872194,
 0.9092181738759245,
 0.9090222234468938,
 0.908896420525032,
 0.908780684116563,
 0.9087321670578878,
 0.9086373502590405,
 0.9085566411626369,
 0.9085113094837406,
 0.9084572126838937,
 0.9082825547928732,
 0.9081917620922724,
 0.9077663952341413,
 0.9077600824195103,
 0.9076088986478578,
 0.9075495095832851,
 0.9074093867611678,
 0.9073414122133667,
 0.9071584848274843,
 0.9067888905862593,
 0.9061877917832839,
 0.906070974734807,
 0.9060685851995619,
 0.9058678329008342,
 0.9057431784061934,
 0.9057032782001816,
 0.9056778774218641,
 0.9052692674676867,
 0.905127448673445,
 0.905114676480607,
 0.9051072967076715,
 0.904396167768747,
 0.9042180499446963,
 0.9038498699974841,
 0.9038246982919608,
 0.9037857319685292,
 0.9034912948145187,
 0.9033134064613503,
 0.9030831373606921,
 0.9030002801956718,
 0.9029377456936305,
 0.9029178048952491,
 0.9026186484449211,
 0.902604737690333,
 0.9023262491918146,
 0.9022142109832745,
 0.9021389872900833,
 0.9021019028588514,
 0.9019020989759313,
 0.9017959394775361,
 0.9017927418970215,
 0.901783158882952,
 0.9017707923874616,
 0.9017685354791143,
 0.9015722204874612,
 0.9012047718571818,
 0.9011729699321928,
 0.9011729699321928,
 0.9011051451522969,
 0.9009857986219806,
 0.9008952425926761,
 0.9004459559187249,
 0.9002323460406497,
 0.900131713724016,
 0.8999800466846996,
 0.8996095002628328,
 0.8995205489528649,
 0.8993580142670219,
 0.8992601784146482,
 0.8990995111970582,
 0.8988166975705287,
 0.8987429061140918,
 0.8985075950802978,
 0.8981268366508497,
 0.898083663228838,
 0.8976903272760006,
 0.897410659064897,
 0.8971613769309486,
 0.8969302617915133,
 0.8967528790025143,
 0.8967364560936144,
 0.8967039539832953,
 0.8963465323703903,
 0.8963135309878448,
 0.8959856637951973,
 0.8959427891806029,
 0.8958996720162619,
 0.8956122561336751,
 0.8952381815697155,
 0.8952381815697155,
 0.8952208425766476,
 0.895144694856628,
 0.8949803935814307,
 0.8946682764091826,
 0.8945848913072324,
 0.8945020999470936,
 0.8943602100392345,
 0.894110292361734,
 0.8941055617567581,
 0.8941044448843011,
 0.8935951442483219,
 0.8933047414709653,
 0.8931585132488373,
 0.8930753580496179,
 0.8925083713223975,
 0.8923513558245497,
 0.8920843364705946,
 0.8920528657484402,
 0.8917927119241336,
 0.8914708069291986,
 0.891408020275337,
 0.8913228269371855,
 0.8910343079082798,
 0.891015638459339,
 0.8908172381839272,
 0.8905313837662617,
 0.89048718238496,
 0.8904793574828034,
 0.8904721071960279,
 0.8902870533397133,
 0.8901741168249022,
 0.8900451109005921,
 0.8893780666651608,
 0.8890418030839774,
 0.888771832123349,
 0.8886452065538408,
 0.8884758150700478,
 0.8883622862494847,
 0.8876472828361971,
 0.8875148573731577,
 0.8874755509862173,
 0.8873968532891731,
 0.8871097076552306,
 0.8869795607768852,
 0.8866999072824228,
 0.8864535735962924,
 0.8862665801031875,
 0.8859805824436056,
 0.8855410114881942,
 0.8852377821631707,
 0.8851326433975298,
 0.8850526944716048,
 0.8850017068660091,
 0.8849460049905993,
 0.8848865572282644,
 0.8847354233726227,
 0.8844937132538674,
 0.8843364603261195,
 0.8843100716219179,
 0.8842586172896438,
 0.8841035818845578,
 0.8836231954601961,
 0.8835782333435744,
 0.8835383170554538,
 0.8833006511206765,
 0.8832032599322148,
 0.8831071502688038,
 0.8830136288114023,
 0.8828714303953337,
 0.8820549376330518,
 0.881941102466027,
 0.8817346642940682,
 0.8812480773711491,
 0.8808893671394236,
 0.880793217740704,
 0.8804272481224598,
 0.8801639167856752,
 0.879381117377489,
 0.8793424808575023,
 0.8793247701995295,
 0.8792191299888314,
 0.8791625882601224,
 0.879140966245122,
 0.8790692995826723,
 0.8789883984669321,
 0.8788721987103352,
 0.87874397444651,
 0.8786432695870573,
 0.8786146548864537,
 0.8782602744829755,
 0.8778999067173736,
 0.8777833901268104,
 0.8777376096817352,
 0.8776726881290986,
 0.8776725956504526,
 0.8775222600967932,
 0.8773176642744229,
 0.8769877137835719,
 0.8767639998841052,
 0.8766661234035868,
 0.8766572551638045,
 0.8764773990918924,
 0.876202061315611,
 0.8760043901526686,
 0.8757618526803825,
 0.8757337490595273,
 0.8752496436817963,
 0.8747928091931774,
 0.8747631827345173,
 0.8745228824109526,
 0.8739241760810317,
 0.8738881503511515,
 0.8738415968505072,
 0.8735753294431945,
 0.8735586890351646,
 0.8735356579859226,
 0.8734490785552105,
 0.8732739127820995,
 0.8732565937033293,
 0.8731112595286309,
 0.8729606679832408,
 0.8728525031974033,
 0.872670915946745,
 0.872402963091494,
 0.8723569140873594,
 0.8717785220942162,
 0.8712999473377214,
 0.8711619783582097,
 0.8703171680324967,
 0.8702855257912915,
 0.8699668070122917,
 0.8699049461588578,
 0.8698907807500483,
 0.8697675179135687,
 0.8694908489760192,
 0.8690777625838769,
 0.8690765048594661,
 0.86878074440543,
 0.8687558300075762,
 0.8687150060704509,
 0.8684328855177473,
 0.8681571856903304,
 0.8679977323836542,
 0.8674624024960327,
 0.8668891728267245,
 0.8667475070498812,
 0.8664214860330046,
 0.866117430899718,
 0.8657278446828431,
 0.8653838235755531,
 0.8653071666853025,
 0.865211681668715,
 0.8648411711327343,
 0.8647187653437343,
 0.8645903751183027,
 0.8644332762836539,
 0.8633900415465168,
 0.8633900415465168,
 0.8633068041444224,
 0.8631097013712098,
 0.8630856188494991,
 0.8628895476088105,
 0.8624243167353843,
 0.8623543327568699,
 0.8620997670081726,
 0.861433128649584,
 0.8613618307232827,
 0.8611455455688809,
 0.8603062334940197,
 0.85969485348746,
 0.859024781669411,
 0.8588286768247149,
 0.858762342533776,
 0.8582807531259852,
 0.8580571948822144,
 0.8579271920868108,
 0.8578044169967831,
 0.8572053998776481,
 0.8571449082783269,
 0.8570264418564981,
 0.856973713992679,
 0.8568573075509455,
 0.8566140530862928,
 0.8563740308005356,
 0.8562856951893699,
 0.8561940663098235]

In [ ]:
media = np.mean(similar_values[:616])
media

0.9164171174427933